/*STYLE DE LA PHOTOTHEQUE*/

.phototheque {
    line-height: 0;
    z-index: 2;}

.phototheque > img {
    object-fit: cover;
    cursor: pointer;
    display: none;
    opacity: 0;
    will-change: filter, opacity;
    transition: filter 0.3s, opacity 0.5s;}

.phototheque > img:hover {filter: brightness(1.2);}

.phototheque-div-loader{
    text-align: center;
    padding: 20px 0;}

.phototheque-rect-load {
    transition-timing-function: ease;
    animation-duration: 1s;
    animation-iteration-count: infinite;}
#phototheque-rect-load-1 {animation-name: phototheque-loader-1;}
#phototheque-rect-load-2 {animation-name: phototheque-loader-2;}
#phototheque-rect-load-3 {animation-name: phototheque-loader-3;}
#phototheque-rect-load-4 {animation-name: phototheque-loader-4;}


@keyframes phototheque-loader-1 {
    0% {opacity: 0;}
    20%{opacity: 0.8;}
    40%{opacity: 0.8;}
    60%{opacity: 0.8;}
    80%{opacity: 0.8;}
    100%{opacity: 0.8;}
}

@keyframes phototheque-loader-2 {
    0% {opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0.8;}
    60%{opacity: 0.8;}
    80%{opacity: 0.8;}
    100%{opacity: 0.8;}
}

@keyframes phototheque-loader-3 {
    0% {opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0.8;}
    80%{opacity: 0.8;}
    100%{opacity: 0.8;}
}

@keyframes phototheque-loader-4 {
    0% {opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0.8;}
    100%{opacity: 0.8;}
}



/*STYLE DE LA VISIOTHEQUE*/
.visiotheque-background a {
    color: rgb(59, 103, 255);
    text-decoration: none;}
.visiotheque-background a:visited {color : rgb(160, 69, 193)}


.visiotheque-background {
    will-change: background-color;
    transition: background-color 0.3s;
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color:rgba(0,0,0,0);}

.visiotheque-img-open-animation{
    will-change: top, left, max-height, max-width, opacity;
    transition: top 0.3s, left 0.3s, max-height 0.3s, max-width 0.3s, opacity 0.5s, scale 0.5s;
    transform: scale(0.5);
    display: none;
    object-fit: cover;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);}

.visiotheque-loader {
    width: 40px;
    height: 40px;
    will-change: background-color, transform;
    background-color: rgba(255,255,255,0);
    transition: background-color 0.5s;
    border-radius: 50%;
    position: fixed;
    top: calc(50vh - 20px);
    left: calc(50vw - 20px);
    transition-timing-function: ease;
    animation-duration: 1s;
    animation-name: visiotheque-loader;
    animation-iteration-count: infinite;}

.visiotheque-legende {
    color: rgb(255,255,255);
    text-align: center;
    line-height: 1rem;
    font-size: 1rem;
    bottom: 12px;
    letter-spacing: 0.01rem;
    width: 100%;
    position: fixed;}

.visiotheque-control {
    will-change: transform, opacity;
    transition: transform 0.3s, opacity 0.3s;
    position: fixed;
    opacity: 0;
    cursor: pointer;}
.visiotheque-control:hover{transform: scale(1.10);}

.visiotheque-close-control{
    top: 5px;
    left: 5px;}

.visiotheque-play-control{
    top: 5px;
    left: 55px;}

.visiotheque-pause-control{
    display: none;
    top: 5px;
    left: 55px;}

.visiotheque-left-control{
    transform: translateX(-50px);
    top: calc(50% - 20px);
    left: 5px;}

.visiotheque-right-control{
    transform: translateX(50px);
    top: calc(50% - 20px);
    left: calc(100% - 45px);}

/*Animation du loader*/
@keyframes visiotheque-loader {
    from {
        opacity: 0.5;
        transform: scale(1);
    }
    75%{
        opacity: 0;
        transform: scale(1.5);
    }
    to{
        opacity: 0;
        transform: scale(1.5);
    }
}
