.phototheque {
    box-sizing: border-box;
    text-align: center;
}

.phototheque img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    padding: 0 1px;
    transition: opacity 0.5s;
}

.phototheque img:hover {
    opacity: 0.75;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .phototheque img {
        width: calc(33% - 5px);
        height: calc(100vw / 3);
    }
}

@media screen and (max-width: 350px) {
    .phototheque img {
        width: calc(50% - 5px);
        height: calc(100vw / 2 - 10px);
    }
}