@import "variables";

@font-face {
  font-family: 'oblyk';
  src:  url('#{$icomoon-font-path}/oblyk.eot?dr8e0a');
  src:  url('#{$icomoon-font-path}/oblyk.eot?dr8e0a#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/oblyk.ttf?dr8e0a') format('truetype'),
    url('#{$icomoon-font-path}/oblyk.woff?dr8e0a') format('woff'),
    url('#{$icomoon-font-path}/oblyk.svg?dr8e0a#oblyk') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'oblyk' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grade {
  &:before {
    content: $icon-grade;
  }
}
.icon-inclinaison {
  &:before {
    content: $icon-inclinaison;
  }
}
.icon-nb_point {
  &:before {
    content: $icon-nb_point;
  }
}
.icon-boulder_height {
  &:before {
    content: $icon-boulder_height;
  }
}
.icon-brosseur {
  &:before {
    content: $icon-brosseur;
  }
}
.icon-climb_1 {
  &:before {
    content: $icon-climb_1;
  }
}
.icon-climb_2 {
  &:before {
    content: $icon-climb_2;
  }
}
.icon-climb_3 {
  &:before {
    content: $icon-climb_3;
  }
}
.icon-climb_4 {
  &:before {
    content: $icon-climb_4;
  }
}
.icon-climb_5 {
  &:before {
    content: $icon-climb_5;
  }
}
.icon-climb_6 {
  &:before {
    content: $icon-climb_6;
  }
}
.icon-climb_7 {
  &:before {
    content: $icon-climb_7;
  }
}
.icon-climb_8 {
  &:before {
    content: $icon-climb_8;
  }
}
.icon-cotation {
  &:before {
    content: $icon-cotation;
  }
}
.icon-crag {
  &:before {
    content: $icon-crag;
  }
}
.icon-depart_1 {
  &:before {
    content: $icon-depart_1;
  }
}
.icon-depart_2 {
  &:before {
    content: $icon-depart_2;
  }
}
.icon-depart_3 {
  &:before {
    content: $icon-depart_3;
  }
}
.icon-depart_4 {
  &:before {
    content: $icon-depart_4;
  }
}
.icon-depart_5 {
  &:before {
    content: $icon-depart_5;
  }
}
.icon-inclinaison_1 {
  &:before {
    content: $icon-inclinaison_1;
  }
}
.icon-inclinaison_2 {
  &:before {
    content: $icon-inclinaison_2;
  }
}
.icon-inclinaison_3 {
  &:before {
    content: $icon-inclinaison_3;
  }
}
.icon-inclinaison_4 {
  &:before {
    content: $icon-inclinaison_4;
  }
}
.icon-inclinaison_5 {
  &:before {
    content: $icon-inclinaison_5;
  }
}
.icon-inclinaison_6 {
  &:before {
    content: $icon-inclinaison_6;
  }
}
.icon-nb_longueur {
  &:before {
    content: $icon-nb_longueur;
  }
}
.icon-nom {
  &:before {
    content: $icon-nom;
  }
}
.icon-note {
  &:before {
    content: $icon-note;
  }
}
.icon-opener {
  &:before {
    content: $icon-opener;
  }
}
.icon-open_year {
  &:before {
    content: $icon-open_year;
  }
}
.icon-point {
  &:before {
    content: $icon-point;
  }
}
.icon-point_1 {
  &:before {
    content: $icon-point_1;
  }
}
.icon-point_2 {
  &:before {
    content: $icon-point_2;
  }
}
.icon-point_3 {
  &:before {
    content: $icon-point_3;
  }
}
.icon-point_4 {
  &:before {
    content: $icon-point_4;
  }
}
.icon-point_5 {
  &:before {
    content: $icon-point_5;
  }
}
.icon-point_6 {
  &:before {
    content: $icon-point_6;
  }
}
.icon-ponderation {
  &:before {
    content: $icon-ponderation;
  }
}
.icon-reception {
  &:before {
    content: $icon-reception;
  }
}
.icon-relais_1 {
  &:before {
    content: $icon-relais_1;
  }
}
.icon-relais_2 {
  &:before {
    content: $icon-relais_2;
  }
}
.icon-relais_3 {
  &:before {
    content: $icon-relais_3;
  }
}
.icon-relais_4 {
  &:before {
    content: $icon-relais_4;
  }
}
.icon-relais_5 {
  &:before {
    content: $icon-relais_5;
  }
}
.icon-relais_6 {
  &:before {
    content: $icon-relais_6;
  }
}
.icon-route {
  &:before {
    content: $icon-route;
  }
}
.icon-route_height {
  &:before {
    content: $icon-route_height;
  }
}
.icon-sector {
  &:before {
    content: $icon-sector;
  }
}
.icon-stronger {
  &:before {
    content: $icon-stronger;
  }
}
.icon-stronger-2 {
  &:before {
    content: $icon-stronger-2;
  }
}
.icon-type_anchor {
  &:before {
    content: $icon-type_anchor;
  }
}
.icon-type_depart {
  &:before {
    content: $icon-type_depart;
  }
}
.icon-type_grimpe {
  &:before {
    content: $icon-type_grimpe;
  }
}

