$icomoon-font-path: "fonts" !default;

$icon-depart_1: "\e92a";
$icon-depart_2: "\e92b";
$icon-depart_3: "\e92c";
$icon-depart_4: "\e92d";
$icon-depart_5: "\e92e";
$icon-point_6: "\e929";
$icon-relais_6: "\e928";
$icon-climb_1: "\e910";
$icon-climb_2: "\e911";
$icon-climb_3: "\e912";
$icon-climb_4: "\e913";
$icon-climb_5: "\e914";
$icon-climb_6: "\e915";
$icon-climb_7: "\e916";
$icon-climb_8: "\e917";
$icon-inclinaison_1: "\e918";
$icon-inclinaison_2: "\e919";
$icon-inclinaison_3: "\e91a";
$icon-inclinaison_4: "\e91b";
$icon-inclinaison_5: "\e91c";
$icon-inclinaison_6: "\e91d";
$icon-point_1: "\e91e";
$icon-point_2: "\e91f";
$icon-point_4: "\e920";
$icon-point_3: "\e921";
$icon-point_5: "\e922";
$icon-relais_1: "\e923";
$icon-relais_2: "\e924";
$icon-relais_3: "\e925";
$icon-relais_4: "\e926";
$icon-relais_5: "\e927";
$icon-note: "\e906";
$icon-boulder_height: "\e90a";
$icon-brosseur: "\e90b";
$icon-nb_longueur: "\e90c";
$icon-reception: "\e90d";
$icon-stronger: "\e90e";
$icon-stronger-2: "\e90f";
$icon-type_anchor: "\e905";
$icon-opener: "\e907";
$icon-open_year: "\e908";
$icon-point: "\e909";
$icon-sector: "\e900";
$icon-crag: "\e901";
$icon-nom: "\e902";
$icon-route: "\e903";
$icon-route_height: "\e904";

