$icomoon-font-path: "fonts" !default;

$icon-inclinaison: "\e933";
$icon-nb_point: "\e934";
$icon-boulder_height: "\e900";
$icon-brosseur: "\e901";
$icon-climb_1: "\e902";
$icon-climb_2: "\e903";
$icon-climb_3: "\e904";
$icon-climb_4: "\e905";
$icon-climb_5: "\e906";
$icon-climb_6: "\e907";
$icon-climb_7: "\e908";
$icon-climb_8: "\e909";
$icon-cotation: "\e90a";
$icon-crag: "\e90b";
$icon-depart_1: "\e90c";
$icon-depart_2: "\e90d";
$icon-depart_3: "\e90e";
$icon-depart_4: "\e90f";
$icon-depart_5: "\e910";
$icon-inclinaison_1: "\e911";
$icon-inclinaison_2: "\e912";
$icon-inclinaison_3: "\e913";
$icon-inclinaison_4: "\e914";
$icon-inclinaison_5: "\e915";
$icon-inclinaison_6: "\e916";
$icon-nb_longueur: "\e917";
$icon-nom: "\e918";
$icon-note: "\e919";
$icon-opener: "\e91a";
$icon-open_year: "\e91b";
$icon-point: "\e91c";
$icon-point_1: "\e91d";
$icon-point_2: "\e91e";
$icon-point_3: "\e91f";
$icon-point_4: "\e920";
$icon-point_5: "\e921";
$icon-point_6: "\e922";
$icon-ponderation: "\e923";
$icon-reception: "\e924";
$icon-relais_1: "\e925";
$icon-relais_2: "\e926";
$icon-relais_3: "\e927";
$icon-relais_4: "\e928";
$icon-relais_5: "\e929";
$icon-relais_6: "\e92a";
$icon-route: "\e92b";
$icon-route_height: "\e92c";
$icon-sector: "\e92d";
$icon-stronger: "\e92e";
$icon-stronger-2: "\e92f";
$icon-type_anchor: "\e930";
$icon-type_depart: "\e931";
$icon-type_grimpe: "\e932";

