/node_modules
/storage/*.key
/vendor
/.idea
/public/storage
/public/css
/public/js
/public/fonts
/public/img
/public/font
/public/framework
charge_database.php
beta_database.sh
Homestead.json
Homestead.yaml
.env
