//partner page
.titre-1-partner {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.titre-2-partner {
    margin-top: 0;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.div-svg-partner {
    img {
        width: 100%;
    }
}

.row-how-partner {
    margin-bottom: 7em;
}