.full-height-row{
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: stretch;
    flex-direction: row;

    #user-nav {
        box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.4);
        z-index: 2;
        width: 250px;
        overflow-y: auto;
        padding: 0;
        color: rgb(255,255,255);

        .collapsible {
            margin-top: 0;
            border: none;
            box-shadow: none;

            .refresh-btn {
                display: none;
                vertical-align: middle;
                margin-left: 0.5em;
                transition: transform 0.5s;

                &:hover {
                    transform: rotate(180deg);
                }
            }

            .collapsible-header{
                background-color: rgba(0,0,0,0);
                border: 4px none transparent;
                border-left-style: solid;
                &.active-item{
                    border-color: #2196F3;

                    .refresh-btn {
                        display: inline;
                    }
                }
            }

            .collapsible-body {
                padding: 0.3rem 0 0 1.6rem;
                background-color: rgba(0,0,0,0);
                border: none;

                .row {
                    padding-left: 0.9em;
                    border: 4px none transparent;
                    border-left-style: solid;
                    &.active-item{
                        border-color: #2196F3;

                        .refresh-btn {
                            display: inline;
                        }
                    }
                }
            }
        }

        .user-bandeau{
            height: 200px;
            background-size: cover;
            padding-top: 84px;
            padding-left: 10px;
            padding-right: 10px;

            .left-col {
                display: inline-block;
                width: 100px;
            }

            .right-col{
                padding-top: 13px;
                vertical-align: top;
                display: inline-block;
                width: calc(100% - 110px);
            }

            img{
                border: 4px solid rgb(255, 255, 255);
                height: 90px;
            }

            p {
                background-color: rgba(0,0,0,0.8);
                margin: 0 0 0.5em 0;
                padding: 0.2em 0.2em;
            }
        }

        div {
            cursor: pointer;
        }

        .collapsible-header {
            transition: background-color 0.3s;
            &:hover{
                background-color: #2196F3;
            }
        }
        .collapsible-body {
            .row {
                transition: background-color 0.3s;
                margin-bottom: 0;
                padding: 0.5em 0.1em;

                &:hover{
                    background-color: #2196F3;
                }
            }
        }
    }
}

#content-user-zone{
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 75px;

    #user-content{

        display: none;
        opacity: 0;
        transition: opacity 0.08s;

        .blue-card-panel {
            border-radius: 0 0 2px 2px;
            border: 3px #2196F3;
            border-top-style: solid;
        }

        .titre-profile-boite-vue {
            font-size: 1.9em;
            margin-top: 0;
        }
    }

    #loade-user-content {
        height:calc(100vh - 85px);

        .preloader-wrapper{
            margin-top: 30vh;
        }
    }

    .titre-nb-suivi {
        border-bottom-style: solid;
        border-width: 1px;
        border-color: rgb(200,200,200);
        padding-bottom: 5px;
    }

    .follow-div {

        img {
            height: 40px;
            width: 40px;
            margin-right: 0.5em;
            object-fit: cover;
        }

        i {
            transition: opacity 0.3s;
            opacity: 0;
            cursor: pointer;
            font-size: 1.15em;
            vertical-align: text-top;
            margin-left: 0.5em;
        }

        &:hover i{
            opacity: 1;
        }
    }

    .explication-dash-option{
        p{
            margin: 0;
        }
    }

    .flexDashBoxs {
        display: flex; /* crée un contexte flex pour ses enfants */
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 1000px;
        box-sizing: border-box;

        .dashbox {

            box-sizing: border-box;
            width: calc(50% - 20px);
            margin: 10px;
            display: block;

            .blue-card-panel {
                background-color: white;
                border-radius: 0 0 2px 2px;
                padding: 1em;
                height: 100%;
            }

            .titre-box-dashboard{
                font-size: 1.8em;
                margin-top: 0;
            }

            .titre-box-dashboard i {
                opacity: 0;
                cursor: pointer;
                transition: opacity 0.3s;
            }

            &:hover .titre-box-dashboard i{
                opacity: 0.5;
            }

            .circle-40 {
                height: 40px;
                width: 40px;
                object-fit: cover;
                margin-right: 0.8em;
            }

            .couverture-40 {
                max-height: 40px;
                max-width: 40px;
                margin-right: 0.8em;
            }

            .img-news {
                height: 100px;
                width: 100px;
                object-fit: cover;
                margin-right: 0.8em;
            }

            .table-list-last-route {
                td {
                    padding: 5px 5px;
                }
            }

            .bt-go-to-nav-item {
                cursor: pointer;
                i {
                    vertical-align: text-top;
                    margin-top: 1px;
                    margin-left: 0.7em;
                }
            }
        }
    }

    .col-echantillon-album {
        display: inline-block;
        min-height: 118px;
        width: 130px;
        position: relative;
        img {
            height: 100px;
            width: 100px;
            object-fit: cover;
            position: absolute;
        }

        img:nth-child(1) {
            top:0;
            left:0;
        }
        img:nth-child(2) {
            top:10px;
            left: 10px
        }
        img:nth-child(3) {
            left: 20px;
            top:20px;
        }
    }

    .col-information-album {
        vertical-align: top;
        display: inline-block;
        width: calc(100% - 135px);
    }

    .tickliste-zone {

        .row {
            margin-bottom: 5px;
        }

        .img-tick-list {
            height: 40px;
            width: 40px;
            object-fit: cover;
            margin-right: 0.5em;
        }

        .liste-tick-ticklist {
            margin-left: 47px;
        }
    }

    .card-chiffre-chart {

        padding-bottom: 1px;
        margin-bottom: 0;

        .zone-graph-type-grimpe {
            margin: 10px 0;
            min-height: 150px;
        }

        .legend-climb-square {
            height: 1em;
            width: 1em;
            display: inline-block;
            margin-right: 0.15em;
            border-radius: 2px;
            margin-bottom: -2px;
        }

        .label-legend-climb {
            color: rgb(120,120,120);
            margin-right: 0.7em;
        }

        .bt-go-to-analytiks {
            cursor: pointer;
            i {
                vertical-align: text-top;
                margin-top: 1px;
            }
        }

    }

    .ic-tab-parametre-profile {
        margin-right: 0.5em;
        vertical-align: middle;
    }

    .tabs-settings-compte{
        margin-bottom: 2em !important;
    }

    .titre-ajouter-liens {
        margin-top: 2em !important;
    }

    .img-settings {
        height: 100px;
        width: 100px;
        object-fit: cover;
        background-size: cover;
    }

    .upload-settings-col-image {
        width: 120px;
        display: inline-block;
    }

    .upload-settings-col-input {
        width: calc(100% - 130px);
        display: inline-block;
        vertical-align: top;
    }

    .alert-partenaire-div {
        border-radius: 4px;
        padding: 1px;
    }

    .placeSettingMap {height: calc(100vh - 120px);}

    .partner-settings-zone {

        .para-note-active-partner {
            margin-bottom: 0;
        }

        .blue-border-div {
            margin-bottom: 4em;
        }

        ul {
            margin-top: 0;
        }
    }
}

.notification-zone {
    .circle {
        cursor: pointer;
        margin-top: 10px;
        height: 50px;
        width: 50px;
        object-fit: cover;
        margin-right: 0.7em;
    }

    .new-notification {
        background-color: #FFF3E0;

        .title-notification  {
            font-weight: bold;
        }

    }
}

.div-one-topo-in-topotheque {

    i {
        opacity: 0;
        vertical-align: bottom;
        margin-right: -1.1em;
        margin-top: -2px;
        transition: color 0.3s, opacity 0.3s;
        cursor: pointer;

        &:hover{
            color: #2196F3;
        }
    }

    &:hover {
        i {
            opacity: 1;
        }
    }

    .encombrement-couverture-topo {
        margin: auto auto 0.5em;
        height: 200px;
        width: 200px;
        line-height: 200px;
    }

    .couverture-topotheque{
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }

}

.friend-box {

    i {
        opacity: 0;
        vertical-align: bottom;
        margin-right: -1.1em;
        margin-top: -2px;
        transition: color 0.3s, opacity 0.3s;
        cursor: pointer;

        &:hover{
            color: #2196F3;
        }
    }

    &:hover {
        i {
            opacity: 1;
        }
    }
}

.ic-exemple-ajouter-topo {
    vertical-align: middle;
    margin-right: 0.2em;
}



//PARTIE PUBLIC DU PROFIL

.zone-a-propos-public {

    .div-bandeau-a-propos {
        display: flex;
        align-items: center;
        height: 40vh;
        min-height: 200px;
        background-size: cover !important;
        background: white no-repeat center center;

        .flex-center {
            flex: auto;
            display: flex;
            flex-direction: row;

            img {
                margin-left: 2em;
                margin-right: 1.5em;
                height: 170px;
                width: 170px;
                border: 4px solid white;
            }

            p, h2 {
                background-color: rgba(0,0,0,0.7);
                color: white;
                padding: 0.2em 1em 0.2em 0.5em;
                margin: 0.5em 0 0 0;
                font-size: 1em;
            }

            h2 {
                padding-left: 0.2em;
                font-size: 2.5em;
            }
        }
    }

    .information-div {
        padding-bottom: 10px !important;
    }

    .title-3-a-propos {
        font-size: 2em;
        margin: 0 0 0.2em 0;
    }

    .list-user-site {
        p {
            margin: 0.4em 0;

            img {
                vertical-align: bottom;
                margin-right: 0.5em;
                height: 25px;
            }
        }
    }
}


//RESPONSIVE MENU
@media screen and (max-width:1000px){

    #user-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 40px !important;

        .user-bandeau {
            display: none;
        }

        .collapsible {
            margin-top: 56px !important;

            .collapsible-header {
                padding: 0 0 0 2px;
                text-align: center;
            }

            .collapsible-body {
                padding: 0 !important;
                div {
                    padding-left: 0.4em !important;
                }
            }
        }
    }

    #content-user-zone {
        padding-top: 55px;
        position: fixed;
        width: 100%;
        padding-left: 44px;
        height: 100%;

        .dashbox {
            width: calc(100% - 10px) !important;
            margin: 6px !important;
        }
    }

    .hidden-1000 {
        display: none;
    }

    .card-panel {
        padding: 5px;
    }

    .row .col {
        padding: 0 5px;
    }

    .messagerie {
        height: calc(100vh - 58px) !important;
        overflow-x: auto;
        overflow-y: hidden;

        &.row {
            margin-bottom: 0;

            .blue-card-panel {
                margin-bottom: 0;
            }
        }

        .flex-col {
            margin-bottom: 12px;
            min-width: 100%;
        }

        .zone-liste-message{
            width: calc(100% + 9px) !important;
        }
    }

    .tabs-settings-compte {
        a {
            padding: 0 !important;
        }

        i {
            margin: 0 !important;
        }
    }


    .col-echantillon-album {
        display: block !important;
        width: auto !important;
    }

    .col-information-album {
        display: block !important;
        width: auto !important;
    }

    .col-echantillon-album img:nth-child(3) {
        left: calc(100% - 100px) !important;
        top: 10px !important;
    }

    .col-echantillon-album img:nth-child(2) {
        top: 5px !important;
        left: calc(100% - 170px) !important;
    }


    .zone-a-propos-public {
        .div-bandeau-a-propos {
            margin-top: 6px;
            height: calc(100vh - 69px);

            .flex-center {
                flex-direction: column;
            }

            .col-information {
                padding: 0 10px;
            }
        }

        .row {
            margin-bottom: 0;
        }
    }
}

//ZONE ANALYTIKS

.analytiks {

    .zone-analytiks-tabs {
        margin-bottom: 0;
        .blue-card-panel {
            padding: 0;
            .col.s12 {
                padding: 0;
            }
        }

        .tab-filter-analytiks {
            border: 1px #aaa;;
            border-left-style: solid;
        }
    }

    .zone-analytiks-box {
        h2.loved-king-font {
            font-size: 1.6em;
            color: rgb(100,100,100);
            margin-top: 0;
            padding-bottom: 8px;
            border: 1px rgb(220, 220, 220);
            border-bottom-style: solid;
        }

        .card-panel {
            padding: 10px;

            .card-chart {
                min-height: 200px;
            }
        }

        .analytiks-map {
            height: calc(100vh - 120px);
        }

        .row {
            margin-bottom: 1px;
        }
    }

    .bt-action-filter {
        font-size: 0.9em;

        span {
            cursor: pointer;
            transition: color 0.3s;
            &:hover {color: #2196F3;  }

            &:last-child{ margin-left: 0.7em}

            i {
                vertical-align: bottom;
                margin-bottom: -2px;
                margin-right: 0.1em;
            }
        }
    }

    .switch-filter-period {
        margin-top: 2em;
        margin-bottom: 1em;
        span {
            margin-right: 1em;
        }
    }
}