.article-parallax {
    min-height: 250px;
    height: 50vh !important;
    .img-article-parallax{
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }

    h1 {
        display: inline-block;
        padding: 2px 10px;
        background-color: rgba(0,0,0,0.7);
        margin-top: 1.5em;
    }

    p {
        padding: 2px 10px;
        display: inline-block;
        margin: auto;
        background-color: rgba(0,0,0,0.7);
    }
}

iframe {
    margin-top: 2em;
    margin-bottom: 2em;
}

.author-resume {
    .author-picture {
        margin-right: 1em;
        height: 60px;
        width: 60px;
    }
}

.author-title {
    padding-top: 1em;
    border: 1px rgb(225, 225, 225);
    border-top-style: solid;
}

.enriched-article-area {
    #article-map {
        height: 400px;
        max-height: calc(100vh - 120px);
    }

    .guide-book-cover {
        height: 360px;
        max-height: calc(100vh - 160px);
        max-width: 100%;
    }

    .topos-and-crags-title {
        font-size: 1.6em;
    }

    .col {
        margin-bottom: 2em;
    }
}


.articles-container {
    margin-top: 64px;

    .col-next-article {
        margin-top: 1.3em;
    }
    a {
        display: block;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }

    .article-footer {
        color: rgb(255,255,255);
        text-shadow: 0 2px 2px rgba(0,0,0,0.6);
        position: absolute;
        margin: 0;
        bottom: 0;
        padding: 0.5em;
        background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
        width: 100%;

        h1, h2 {
            margin: 0.5em 0 0 0;
        }
    }

    .first-article {
        height: 70vh;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        h1 {
            font-size: 2.5em;
        }
    }

    .next-article {
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        h2 {
            font-size: 1.8em;
        }
        p {
            margin: 0.2em 0;
        }
    }
}

@media screen and (max-width:600px){
    .article-parallax {
        h1 {
            margin-top: 3em;
            font-size: 2em;
        }
    }
}