.img-parallax-home{
    width: 100%;
    height: 120vh;
    object-fit: cover;
}

.parallax-container {
    height:100vh;
}

.div-entete-oblyk {
    position: relative;
    text-align: center;
    color:rgb(255,255,255);
    margin-top: calc(100vh / 2 - 100px);

    h1 {
        font-weight: 400;
        font-size: 7em;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        font-family: 'Loved by the King', cursive;
    }

    p {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        font-size: 2.5em;
        margin-top: 25px;
        font-family: 'Loved by the King', cursive;
    }
}

.description-oblyk{
    h2{
        font-size: 3em;
        word-spacing: -0.2em;
        font-family: 'Loved by the King', cursive;
    }
}

.img-explication-point{
    width: 100%;
    margin-top: 30px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.3);
}

.svg-animation-home{
    height: 180px;
    margin-top: 35px;
}

.svg-container{
    margin-top: 35px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    vertical-align: middle;
    overflow: hidden;

    svg{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
}

#nuage_1{
    animation-delay: 7s;
    animation: animation_nuage 14s infinite linear;}
#nuage_2{animation: animation_nuage 14s infinite linear;}

@keyframes animation_nuage {
    0% {
        transform: translateX(200px);
        opacity: 0;}
    5%{opacity: 1}
    95%{opacity: 1;}
    100% {
        opacity: 0;
        transform: translateX(-100px);}
}