.img-parallax-home{
    width: 100%;
    height: 120vh;
    object-fit: cover;
}

.parallax-container {
    height:100vh;
}

.div-entete-oblyk {
    position: relative;
    text-align: center;
    color:rgb(255,255,255);
    margin-top: calc(100vh / 2 - 100px);

    h1 {
        font-weight: 400;
        font-size: 7em;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        font-family: 'Loved by the King', cursive;
    }

    p {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        font-size: 2.5em;
        margin-top: 25px;
        font-family: 'Loved by the King', cursive;
    }

}

.credit-philippe {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: block;
    color: rgba(255,255,255,0.8);
    font-size: 0.9em;
}

.description-oblyk{
    h2{
        font-size: 3em;
        word-spacing: -0.2em;
        font-family: 'Loved by the King', cursive;
    }
}

.img-explication-point{
    width: 100%;
    margin-top: 30px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.3);
}

.partie-point-home{
    .row{
        padding: 10vh 0;

        .explication-oblyk {
            text-indent:2em;
            text-align: justify;
        }
    }
}

.badge-new-in-home {
    display: inline-block;
    background-color: #0c7cd5;
    padding: 1px 7px 1px 7px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
}

.svg-container{
    margin-top: 35px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    vertical-align: middle;
    overflow: hidden;

    svg{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
}

// News part
.card-image{
    img {
        height: 30vh;
        width: 100%;
        object-fit: cover;
    }
}

// Numbers part
.partie-chiffre-oblyk{
    margin-bottom: 10vh;

    .oblyk-number {
        font-weight: 300;
        font-size: 1.5em;
        line-height: 1.3em;
        margin-bottom: 5vh;
        span {
            color: rgb(150,150,150);
            font-size: 1.2em;
        }

        em {
            font-style: normal;
            font-size: 0.6em;
            vertical-align: super;
        }
    }
}


.activity-part-oblyk {
    .collapsible {
        box-shadow: none;
        border : none;
        border-top : 1px solid #ddd;
        .collapsible-header {
            border-bottom : 1px solid #ddd;
            &.active {
                border : none;
            }
        }
    }

    .blue-border-activity-part {
        border-left-style: solid;
        border-color: #2196F3;
        margin: 0.7em 0;
        padding-left: 0.5em;
    }
    img.circle {
        height: 40px;
        width: 40px;
        object-fit: cover;
        margin-right: 0.5em;
    }
    .search-climb-type {
        height: 0.85em;
        width: 0.85em;
    }
    .couverture-topo {
        max-height: 40px;
        margin-top: 3px;
        max-width: 40px;
        margin-right: 0.5em;
    }

    .video-title {
        margin-bottom: 0;
    }
}

// Svg animation

// Crag information
#nuage_1{animation: animation_nuage 14s infinite linear;}
#nuage_2{animation: animation_nuage 14s infinite linear;}

@keyframes animation_nuage {
    0% {
        transform: translateX(200px);
        opacity: 0;}
    5%{opacity: 1}
    95%{opacity: 1;}
    100% {
        opacity: 0;
        transform: translateX(-100px);}
}


// Crosses
#croix_1{animation : animation_croix_1 2.5s infinite;}
#croix_2{animation : animation_croix_2 2.5s infinite;}
#croix_3{animation : animation_croix_3 2.5s infinite;}
@keyframes animation_croix_1 {0% {fill-opacity: 0;} 5% {fill-opacity: 0;} 90% {fill-opacity: 1;} 100% {fill-opacity: 0;}}
@keyframes animation_croix_2 {0% {fill-opacity: 0;} 30% {fill-opacity: 0;} 90% {fill-opacity: 1;} 100% {fill-opacity: 0;}}
@keyframes animation_croix_3 {0% {fill-opacity: 0;} 55% {fill-opacity: 0;} 90% {fill-opacity: 1;} 100% {fill-opacity: 0;}}


// News
#text_fermeture{animation: animation_fermeture 10s infinite;}
#text_nettoyage{animation: animation_nettoyage 10s infinite;}
@keyframes animation_fermeture {0% {opacity: 0;} 20%{opacity: 1;} 40% {opacity: 1;} 50% {opacity: 0;} 60% {opacity: 0;} 80% {opacity: 0;} 100%{opacity: 0;}}
@keyframes animation_nettoyage {0% {opacity: 0;} 20%{opacity: 0;} 40% {opacity: 0;} 50% {opacity: 0;} 60% {opacity: 1;} 80% {opacity: 1;} 100% {opacity: 0;}}


// Join us
#bras_gauche{animation : animation_bras_gauche 0.3s infinite;}
@keyframes animation_bras_gauche {
    0% {transform: translate(0px,0px);}
    50% {transform: translate(0.1%,0.1%);}
    100% {transform: translate(0px,0px);}
}

#bras_droit{animation : animation_bras_droit 0.3s infinite;}
@keyframes animation_bras_droit {
    0% {opacity: 0 !important;}
    100% {opacity:1 !important;}
}

#path_1 {animation : animation_path_1 5s infinite;}
#path_2 {animation : animation_path_2 5s infinite;}
#path_3 {animation : animation_path_3 5s infinite;}
#path_4 {animation : animation_path_4 5s infinite;}
#path_5 {animation : animation_path_5 5s infinite;}
#path_6 {animation : animation_path_6 5s infinite;}
#path_7 {animation : animation_path_7 5s infinite;}
#path_8 {animation : animation_path_8 5s infinite;}
#path_9 {animation : animation_path_9 5s infinite;}
#path_10 {animation : animation_path_10 5s infinite;}
#path_11 {animation : animation_path_11 5s infinite;}
#path_12 {animation : animation_path_12 5s infinite;}
#path_13 {animation : animation_path_13 5s infinite;}
#path_14 {animation : animation_path_14 5s infinite;}
#path_15 {animation : animation_path_15 5s infinite;}
@keyframes animation_path_1 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 0;} 42% {fill-opacity: 0;} 49% {fill-opacity: 0;} 56% {fill-opacity: 0;} 61% {fill-opacity: 0;} 68% {fill-opacity: 0;} 75% {fill-opacity: 0;} 82% {fill-opacity: 0;} 88% {fill-opacity: 0;} 95% {fill-opacity: 0;} 100% {fill-opacity: 1;} }
@keyframes animation_path_2 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 0;} 42% {fill-opacity: 0;} 49% {fill-opacity: 0;} 56% {fill-opacity: 0;} 61% {fill-opacity: 0;} 68% {fill-opacity: 0;} 75% {fill-opacity: 0;} 82% {fill-opacity: 0;} 88% {fill-opacity: 0;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_3 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 0;} 42% {fill-opacity: 0;} 49% {fill-opacity: 0;} 56% {fill-opacity: 0;} 61% {fill-opacity: 0;} 68% {fill-opacity: 0;} 75% {fill-opacity: 0;} 82% {fill-opacity: 0;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_4 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 0;} 42% {fill-opacity: 0;} 49% {fill-opacity: 0;} 56% {fill-opacity: 0;} 61% {fill-opacity: 0;} 68% {fill-opacity: 0;} 75% {fill-opacity: 0;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_5 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 0;} 42% {fill-opacity: 0;} 49% {fill-opacity: 0;} 56% {fill-opacity: 0;} 61% {fill-opacity: 0;} 68% {fill-opacity: 0;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_6 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 0;} 42% {fill-opacity: 0;} 49% {fill-opacity: 0;} 56% {fill-opacity: 0;} 61% {fill-opacity: 0;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_7 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 0;} 42% {fill-opacity: 0;} 49% {fill-opacity: 0;} 56% {fill-opacity: 0;} 61% {fill-opacity: 1;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_8 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 0;} 42% {fill-opacity: 0;} 49% {fill-opacity: 0;} 56% {fill-opacity: 1;} 61% {fill-opacity: 1;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_9 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 0;} 42% {fill-opacity: 0;} 49% {fill-opacity: 1;} 56% {fill-opacity: 1;} 61% {fill-opacity: 1;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_10 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 0;} 42% {fill-opacity: 1;} 49% {fill-opacity: 1;} 56% {fill-opacity: 1;} 61% {fill-opacity: 1;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_11 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 0;} 35% {fill-opacity: 1;} 42% {fill-opacity: 1;} 49% {fill-opacity: 1;} 56% {fill-opacity: 1;} 61% {fill-opacity: 1;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_12 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 0;} 28% {fill-opacity: 1;} 35% {fill-opacity: 1;} 42% {fill-opacity: 1;} 49% {fill-opacity: 1;} 56% {fill-opacity: 1;} 61% {fill-opacity: 1;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_13 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 0;} 21% {fill-opacity: 1;} 28% {fill-opacity: 1;} 35% {fill-opacity: 1;} 42% {fill-opacity: 1;} 49% {fill-opacity: 1;} 56% {fill-opacity: 1;} 61% {fill-opacity: 1;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_14 { 0% {fill-opacity: 0;} 7% {fill-opacity: 0;} 14% {fill-opacity: 1;} 21% {fill-opacity: 1;} 28% {fill-opacity: 1;} 35% {fill-opacity: 1;} 42% {fill-opacity: 1;} 49% {fill-opacity: 1;} 56% {fill-opacity: 1;} 61% {fill-opacity: 1;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_15 { 0% {fill-opacity: 0;} 7% {fill-opacity: 1;} 14% {fill-opacity: 1;} 21% {fill-opacity: 1;} 28% {fill-opacity: 1;} 35% {fill-opacity: 1;} 42% {fill-opacity: 1;} 49% {fill-opacity: 1;} 56% {fill-opacity: 1;} 61% {fill-opacity: 1;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }
@keyframes animation_path_16 { 0% {fill-opacity: 1;} 7% {fill-opacity: 1;} 14% {fill-opacity: 1;} 21% {fill-opacity: 1;} 28% {fill-opacity: 1;} 35% {fill-opacity: 1;} 42% {fill-opacity: 1;} 49% {fill-opacity: 1;} 56% {fill-opacity: 1;} 61% {fill-opacity: 1;} 68% {fill-opacity: 1;} 75% {fill-opacity: 1;} 82% {fill-opacity: 1;} 88% {fill-opacity: 1;} 95% {fill-opacity: 1;} 100% {fill-opacity: 1;} }

@media (max-width:600px) {
    .description-oblyk{
        h2 {
            font-size: 2.3em;
            text-align: center;
        }
    }

    #nuage_1 {animation : none;}
    #nuage_2 {animation : none;}

    #croix_1{animation : none;}
    #croix_2{animation : none;}
    #croix_3{animation : none;}

    #text_fermeture{animation: none;}
    #text_nettoyage{animation: none;}

    #bras_gauche{animation : none;}
    #bras_droit{animation : none;}

    #path_1 {animation : none;}
    #path_2 {animation : none;}
    #path_3 {animation : none;}
    #path_4 {animation : none;}
    #path_5 {animation : none;}
    #path_6 {animation : none;}
    #path_7 {animation : none;}
    #path_8 {animation : none;}
    #path_9 {animation : none;}
    #path_10 {animation : none;}
    #path_11 {animation : none;}
    #path_12 {animation : none;}
    #path_13 {animation : none;}
    #path_14 {animation : none;}
    #path_15 {animation : none;}
}