.img-parallax-home{
    width: 100%;
    height: 120vh;
    object-fit: cover;
}

.parallax-container {
    height:100vh;
}

.div-entete-oblyk {
    position: relative;
    text-align: center;
    color:rgb(255,255,255);
    margin-top: calc(100vh / 2 - 50px);

    h1 {
        font-weight: 300;
    }
}