.side-global-search{
    max-width: calc(100% - 25px) !important;

    .icon-tab-global-search{
        margin-bottom: -23px;
    }

    h4 {
        font-size: 2em;
        margin-bottom: 10px;
        text-align: center;
    }

    .progress{
        margin: 0;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .input-field {
        .prefix {
            margin-top: 12px;
        }
    }

    .tabs {

        a {
            font-weight: normal;
        }
        .tab {
            a {
                padding: 0 !important;
            }
        }

        .material-icons {
            float: none !important;
            margin: 0 !important;
        }
    }

    .input-field input[type="search"]{
        padding-left: 0 !important;
    }

    .tab-search-ligne {
        margin-top: -15px;
        margin-bottom: 1em;
    }

    .global-search-tab{
        a {
            display: inline;
            font-size: inherit;
            font-weight: inherit;
            height: auto;
            line-height: normal;
            padding: 0;

            &:hover {
                background-color: inherit;
            }
        }
    }

    a {
        display: inline;
        font-size: inherit;
        font-weight: inherit;
        height: auto;
        line-height: normal;
        padding: 0;
        color: #2196F3;

        &:hover {
            background-color: inherit;
        }
    }

    .suggestion-recherche{
        p{
            margin: 2px 0;
        }
    }

    .blue-border-search{
        border-left-style: solid;
        border-color: #2196F3;
        margin: 0.7em 0;
        padding-left: 0.5em;
    }

    .crag-result {
        img.circle {
            height: 40px;
            width: 40px;
            object-fit: cover;
            margin-right: 0.5em;
        }

        a {
            font-weight: 500 !important;
        }
    }

    .search-climb-type {
        height: 0.78em;
        margin-right: 0.1em;
    }

    .rideau-animation{
        transform: translateY(-30px);
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s ;
    }

    .couverture-topo {
        max-height: 40px;
        margin-top: 3px;
        max-width: 40px;
        margin-right: 0.5em;
    }

    .para-type-search-topo {
        margin-top: 0;
        margin-bottom: 1em;
    }

    #global-search-finds {
        margin-bottom: 6em;
    }
}