.crag-parallax {
  min-height: 250px;
  height: 50vh !important;
}

.crag-parallax .img-crag-parallax {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #f8f8f8;
}

.entete-info {
  margin-top: calc(50vh / 2 - 140px / 2);
  position: relative;
}

.entete-info .square-entete {
  height: 140px;
  width: 140px;
  margin-right: 7px;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  text-align: center;
}

.entete-info .square-entete img {
  max-height: 90px !important;
  max-width: 90px !important;
  display: inline;
  margin-top: 20px;
  position: relative;
  min-width: 90px;
  min-height: 90px;
  -webkit-transform: inherit;
          transform: inherit;
  left: inherit;
  bottom: inherit;
}

.entete-info .liste-info {
  display: inline-block;
  color: white;
  vertical-align: top;
}

.entete-info .liste-info h1 {
  margin: 0 0 9px 0;
  padding: 5px 10px;
  word-spacing: -10px;
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0.7);
}

.entete-info .liste-info h1 span {
  display: none;
}

.entete-info .liste-info p {
  font-size: 14px;
  margin: 0 0 9px 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
}

.crag-menu i {
  vertical-align: text-bottom;
  display: none;
}

.info-crag h2 {
  margin: 0;
  font-size: 2em;
}

.info-crag .share-btn {
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;
  color: #8F8F8F;
}

.info-crag .share-btn .material-icons {
  opacity: 1;
  vertical-align: bottom;
  margin-right: 0.2em;
}

.info-crag .share-btn:hover {
  color: #2196F3 !important;
}

.topo-panel {
  padding: 1.5em 0 !important;
}

.topo-panel img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bt-validation-topo-proche a {
  width: 100%;
  text-align: center;
}

.petites-infos-crag ul {
  margin: 0;
}

.petites-infos-crag ul i {
  vertical-align: bottom;
}

.petites-infos-crag ul li {
  padding: 0 0 10px 0;
}

.boussole {
  margin-top: 4px;
}

.description-zone {
  margin-top: 20px;
}

.description-zone .description-div {
  border: 3px #2196F3;
  border-left-style: solid;
  margin: 15px 0;
  padding-left: 10px;
}

.description-zone .description-div i {
  transition: opacity 0.3s;
  opacity: 0;
  cursor: pointer;
}

.description-zone .description-div i:hover {
  color: #2196F3;
}

.description-zone .description-div .info-user-description {
  margin: 0;
  font-size: 0.9em;
}

.description-zone .description-div:hover i {
  opacity: 1;
}

.lien-parking {
  cursor: pointer;
  transition: opacity 0.3s;
}

.lien-parking:hover {
  opacity: 0.6;
}

.zone-photo-editor {
  display: none;
}

.crag-type-grimpe span {
  font-weight: bold;
}

.crag-type-grimpe span:after {
  content: ', ';
  color: black;
  font-weight: normal;
}

.crag-type-grimpe span:last-child:after {
  display: none;
}

.crag-type-grimpe .type-voie {
  color: #3771C8;
}

.crag-type-grimpe .type-grande-voie {
  color: #FF5555;
}

.crag-type-grimpe .type-bloc {
  color: #ffcc00;
}

.crag-type-grimpe .type-deep-water {
  color: #87cdde;
}

.crag-type-grimpe .type-via-ferrata {
  color: #37c871;
}

.row-crag-gallerie {
  margin-top: 2em;
}

.crag-map {
  width: 100%;
  height: 80vh;
}

.logo-exceptions-crag {
  height: 2em;
  margin-right: 0.7em;
  vertical-align: middle;
}

.ffme-color {
  color: #578CD3;
}

.greenspits-color {
  color: #70A233;
}

.div-secteur .zone-action-secteur i {
  opacity: 0.25;
  cursor: pointer;
  transition: opacity 0.3s;
}

.div-secteur:hover .zone-action-secteur i {
  opacity: 1;
}

.div-secteur .no-bottom-margin {
  margin-bottom: 0;
}

.div-search-secteur {
  padding: 5px 24px;
}

.div-search-secteur .row {
  margin-bottom: 0;
}

.div-search-secteur .input-field input[type="search"] {
  padding-left: 0;
}

.div-search-secteur p {
  margin-top: 23px;
}

.div-search-secteur p i {
  cursor: pointer;
}

.img-note-route-sector {
  width: 48px;
}

.type-ligne {
  height: 0.8em;
  margin-right: 0.4em;
}

.cragChart {
  margin-top: 15px;
  position: relative;
  height: 250px;
}

.sectorChart {
  margin-top: 17px;
  position: relative;
  height: 300px;
}

.search-by-topo-popup-tabs {
  margin-bottom: 3em;
}

@media screen and (max-width: 600px) {
  .crag-menu-zone {
    width: 100%;
  }

  .crag-menu-zone .crag-menu i {
    display: inline;
  }

  .crag-menu-zone .crag-menu span {
    display: none;
  }

  .entete-info {
    margin-top: 60px;
  }

  .entete-info .square-entete {
    display: none;
  }

  .entete-info .liste-info {
    display: block;
  }

  .stretchCol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL2NyYWcvY3JhZy5zY3NzIiwic291cmNlcyI6WyIvdmFyL3d3dy9odG1sL29ibHlrLm9yZy9yZXNvdXJjZXMvYXNzZXRzL3Nhc3MvY3JhZy9jcmFnLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLy9wYXJhbGxheCBwYXIgZGVmYXV0IGQnb2JseWtcbi5jcmFnLXBhcmFsbGF4IHtcbiAgICBtaW4taGVpZ2h0OiAyNTBweDtcbiAgICBoZWlnaHQ6IDUwdmggIWltcG9ydGFudDtcbiAgICAuaW1nLWNyYWctcGFyYWxsYXh7XG4gICAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgICBoZWlnaHQ6IDYwdmg7XG4gICAgICAgIG9iamVjdC1maXQ6IGNvdmVyO1xuICAgIH1cbn1cblxuYm9keXtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2IoMjQ4LDI0OCwyNDgpO1xufVxuXG4uZW50ZXRlLWluZm97XG5cbiAgICBtYXJnaW4tdG9wOiBjYWxjKDUwdmggLyAyIC0gMTQwcHggLyAyKTtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG5cbiAgICAuc3F1YXJlLWVudGV0ZXtcbiAgICAgICAgaGVpZ2h0OiAxNDBweDtcbiAgICAgICAgd2lkdGg6IDE0MHB4O1xuICAgICAgICBtYXJnaW4tcmlnaHQ6IDdweDtcbiAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgwLDAsMCwwLjcpO1xuICAgICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcblxuICAgICAgICBpbWd7XG4gICAgICAgICAgICBtYXgtaGVpZ2h0OiA5MHB4ICFpbXBvcnRhbnQ7XG4gICAgICAgICAgICBtYXgtd2lkdGg6IDkwcHggIWltcG9ydGFudDtcbiAgICAgICAgICAgIGRpc3BsYXk6IGlubGluZTtcbiAgICAgICAgICAgIG1hcmdpbi10b3A6IDIwcHg7XG4gICAgICAgICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgICAgICAgICBtaW4td2lkdGg6IDkwcHg7XG4gICAgICAgICAgICBtaW4taGVpZ2h0OiA5MHB4O1xuICAgICAgICAgICAgdHJhbnNmb3JtOiBpbmhlcml0O1xuICAgICAgICAgICAgbGVmdDogaW5oZXJpdDtcbiAgICAgICAgICAgIGJvdHRvbTogaW5oZXJpdDtcbiAgICAgICAgfVxuICAgIH1cblxuICAgIC5saXN0ZS1pbmZve1xuICAgICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgICAgIGNvbG9yOiByZ2IoMjU1LDI1NSwyNTUpO1xuICAgICAgICB2ZXJ0aWNhbC1hbGlnbjogdG9wO1xuXG4gICAgICAgIGgxIHtcbiAgICAgICAgICAgIG1hcmdpbjogMCAwIDlweCAwO1xuICAgICAgICAgICAgcGFkZGluZzogNXB4IDEwcHg7XG4gICAgICAgICAgICB3b3JkLXNwYWNpbmc6IC0xMHB4O1xuICAgICAgICAgICAgZm9udC1zaXplOiA0NXB4O1xuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgwLDAsMCwwLjcpO1xuXG4gICAgICAgICAgICBzcGFuIHtcbiAgICAgICAgICAgICAgICBkaXNwbGF5OiBub25lO1xuICAgICAgICAgICAgfVxuICAgICAgICB9XG5cbiAgICAgICAgcHtcbiAgICAgICAgICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICAgICAgICAgIG1hcmdpbjogMCAwIDlweCAwO1xuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgwLDAsMCwwLjcpO1xuICAgICAgICAgICAgcGFkZGluZzogNXB4IDEwcHg7XG4gICAgICAgIH1cbiAgICB9XG59XG5cbi5jcmFnLW1lbnV7XG4gICAgaSB7XG4gICAgICAgIHZlcnRpY2FsLWFsaWduOiB0ZXh0LWJvdHRvbTtcbiAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICB9XG59XG4uaW5mby1jcmFne1xuICAgIGgyIHtcbiAgICAgICAgbWFyZ2luOiAwO1xuICAgICAgICBmb250LXNpemU6IDJlbTtcbiAgICB9XG5cbiAgICAuc2hhcmUtYnRuIHtcbiAgICAgICAgZm9udC13ZWlnaHQ6IDUwMDtcbiAgICAgICAgdHJhbnNpdGlvbjogY29sb3IgMC4zcztcbiAgICAgICAgY3Vyc29yOiBwb2ludGVyO1xuICAgICAgICBjb2xvcjogIzhGOEY4RjtcbiAgICAgICAgLm1hdGVyaWFsLWljb25zIHtcbiAgICAgICAgICAgIG9wYWNpdHk6IDE7XG4gICAgICAgICAgICB2ZXJ0aWNhbC1hbGlnbjogYm90dG9tO1xuICAgICAgICAgICAgbWFyZ2luLXJpZ2h0OiAwLjJlbTtcbiAgICAgICAgfVxuICAgICAgICAmOmhvdmVyIHtcbiAgICAgICAgICAgIGNvbG9yOiAjMjE5NkYzICFpbXBvcnRhbnQ7XG4gICAgICAgIH1cbiAgICB9XG59XG5cbi50b3BvLXBhbmVse1xuICAgIHBhZGRpbmc6IDEuNWVtIDAgIWltcG9ydGFudDtcblxuICAgIGltZyB7XG4gICAgICAgIGhlaWdodDogMjAwcHg7XG4gICAgICAgIG9iamVjdC1maXQ6IGNvbnRhaW47XG4gICAgfVxufVxuXG4uYnQtdmFsaWRhdGlvbi10b3BvLXByb2NoZXtcbiAgICBhIHtcbiAgICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICB9XG59XG5cbi5wZXRpdGVzLWluZm9zLWNyYWd7XG4gICAgdWwge1xuICAgICAgICBtYXJnaW46IDA7XG4gICAgICAgIGkge1xuICAgICAgICAgICAgdmVydGljYWwtYWxpZ246IGJvdHRvbTtcbiAgICAgICAgfVxuICAgICAgICBsaXtcbiAgICAgICAgICAgIHBhZGRpbmc6IDAgMCAxMHB4IDA7XG4gICAgICAgIH1cbiAgICB9XG59XG5cbi5ib3Vzc29sZSB7XG4gICAgbWFyZ2luLXRvcDogNHB4O1xufVxuXG4uZGVzY3JpcHRpb24tem9uZXtcblxuICAgIG1hcmdpbi10b3A6IDIwcHg7XG5cbiAgICAuZGVzY3JpcHRpb24tZGl2e1xuICAgICAgICBib3JkZXI6IDNweCAjMjE5NkYzO1xuICAgICAgICBib3JkZXItbGVmdC1zdHlsZTogc29saWQ7XG4gICAgICAgIG1hcmdpbiA6IDE1cHggMDtcbiAgICAgICAgcGFkZGluZy1sZWZ0OiAxMHB4O1xuXG4gICAgICAgIGkge1xuICAgICAgICAgICAgdHJhbnNpdGlvbjogb3BhY2l0eSAwLjNzO1xuICAgICAgICAgICAgb3BhY2l0eTogMDtcbiAgICAgICAgICAgIGN1cnNvcjogcG9pbnRlcjtcblxuICAgICAgICAgICAgJjpob3ZlciB7XG4gICAgICAgICAgICAgICAgY29sb3I6ICMyMTk2RjM7XG4gICAgICAgICAgICB9XG4gICAgICAgIH1cblxuICAgICAgICAuaW5mby11c2VyLWRlc2NyaXB0aW9ue1xuICAgICAgICAgICAgbWFyZ2luOiAwO1xuICAgICAgICAgICAgZm9udC1zaXplOiAwLjllbTtcbiAgICAgICAgfVxuXG4gICAgICAgICY6aG92ZXIgaXtcbiAgICAgICAgICAgIG9wYWNpdHk6IDE7XG4gICAgICAgIH1cbiAgICB9XG59XG5cbi5saWVuLXBhcmtpbmd7XG4gICAgY3Vyc29yOiBwb2ludGVyO1xuICAgIHRyYW5zaXRpb246IG9wYWNpdHkgMC4zcztcblxuICAgICY6aG92ZXIge1xuICAgICAgICBvcGFjaXR5OiAwLjY7XG4gICAgfVxufVxuXG4uem9uZS1waG90by1lZGl0b3Ige1xuICAgIGRpc3BsYXk6IG5vbmU7XG59XG5cbi5jcmFnLXR5cGUtZ3JpbXBle1xuICAgIHNwYW57XG4gICAgICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgICAgICAmOmFmdGVyIHtcbiAgICAgICAgICAgIGNvbnRlbnQ6ICcsICc7XG4gICAgICAgICAgICBjb2xvcjogYmxhY2s7XG4gICAgICAgICAgICBmb250LXdlaWdodDogbm9ybWFsO1xuICAgICAgICB9XG4gICAgICAgICY6bGFzdC1jaGlsZHtcbiAgICAgICAgICAgICY6YWZ0ZXJ7XG4gICAgICAgICAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICAgICAgICAgIH1cbiAgICAgICAgfVxuICAgIH1cbiAgICAudHlwZS12b2lle2NvbG9yOiAjMzc3MUM4fVxuICAgIC50eXBlLWdyYW5kZS12b2lle2NvbG9yOiAjRkY1NTU1fVxuICAgIC50eXBlLWJsb2N7Y29sb3I6ICNmZmNjMDB9XG4gICAgLnR5cGUtZGVlcC13YXRlcntjb2xvcjogIzg3Y2RkZX1cbiAgICAudHlwZS12aWEtZmVycmF0YXtjb2xvcjogIzM3Yzg3MX1cbn1cblxuLnJvdy1jcmFnLWdhbGxlcmlle1xuICAgIG1hcmdpbi10b3A6IDJlbTtcbn1cblxuLmNyYWctbWFwe1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGhlaWdodDogODB2aDtcbn1cblxuLmxvZ28tZXhjZXB0aW9ucy1jcmFnIHtcbiAgICBoZWlnaHQ6IDJlbTtcbiAgICBtYXJnaW4tcmlnaHQ6IDAuN2VtO1xuICAgIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XG59XG5cbi5mZm1lLWNvbG9yIHtcbiAgICBjb2xvcjogIzU3OENEMztcbn1cblxuLmdyZWVuc3BpdHMtY29sb3Ige1xuICAgIGNvbG9yOiAjNzBBMjMzO1xufVxuXG4uZGl2LXNlY3RldXIge1xuXG4gICAgLnpvbmUtYWN0aW9uLXNlY3RldXIgaSB7XG4gICAgICAgIG9wYWNpdHk6IDAuMjU7XG4gICAgICAgIGN1cnNvcjogcG9pbnRlcjtcbiAgICAgICAgdHJhbnNpdGlvbjogb3BhY2l0eSAwLjNzO1xuICAgIH1cblxuICAgICY6aG92ZXIgLnpvbmUtYWN0aW9uLXNlY3RldXIgaSB7XG4gICAgICAgIG9wYWNpdHk6IDE7XG4gICAgfVxuXG4gICAgLm5vLWJvdHRvbS1tYXJnaW57XG4gICAgICAgIG1hcmdpbi1ib3R0b206IDA7XG4gICAgfVxufVxuXG4uZGl2LXNlYXJjaC1zZWN0ZXVye1xuICAgIHBhZGRpbmc6IDVweCAyNHB4O1xuXG4gICAgLnJvdyB7XG4gICAgICAgIG1hcmdpbi1ib3R0b206IDA7XG4gICAgfVxuXG4gICAgLmlucHV0LWZpZWxkIGlucHV0W3R5cGU9XCJzZWFyY2hcIl17XG4gICAgICAgIHBhZGRpbmctbGVmdDogMDtcbiAgICB9XG5cbiAgICBwIHtcbiAgICAgICAgbWFyZ2luLXRvcDogMjNweDtcblxuICAgICAgICBpIHtcbiAgICAgICAgICAgIGN1cnNvcjogcG9pbnRlcjtcbiAgICAgICAgfVxuICAgIH1cblxufVxuXG4uaW1nLW5vdGUtcm91dGUtc2VjdG9ye1xuICAgIHdpZHRoOiA0OHB4O1xufVxuXG4udHlwZS1saWduZXtcbiAgICBoZWlnaHQ6IDAuOGVtO1xuICAgIG1hcmdpbi1yaWdodDogMC40ZW07XG59XG5cbi5jcmFnQ2hhcnR7XG4gICAgbWFyZ2luLXRvcDogMTVweDtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgaGVpZ2h0OiAyNTBweDtcbn1cblxuLnNlY3RvckNoYXJ0e1xuICAgIG1hcmdpbi10b3A6IDE3cHg7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIGhlaWdodDogMzAwcHg7XG59XG5cbi5zZWFyY2gtYnktdG9wby1wb3B1cC10YWJzIHtcbiAgICBtYXJnaW4tYm90dG9tOiAzZW07XG59XG5cbi8vdmVyc2lvbiBzbWFydHBob25lXG5AbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOjYwMHB4KXtcblxuICAgIC5jcmFnLW1lbnUtem9uZXtcbiAgICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICAgIC5jcmFnLW1lbnV7XG4gICAgICAgICAgICBpIHtkaXNwbGF5OiBpbmxpbmU7fVxuICAgICAgICAgICAgc3BhbiB7ZGlzcGxheTogbm9uZTt9XG4gICAgICAgIH1cbiAgICB9XG5cbiAgICAuZW50ZXRlLWluZm97XG4gICAgICAgIG1hcmdpbi10b3A6IDYwcHg7XG4gICAgICAgIC5zcXVhcmUtZW50ZXRle2Rpc3BsYXk6IG5vbmU7fVxuICAgICAgICAubGlzdGUtaW5mb3tkaXNwbGF5OiBibG9jazt9XG4gICAgfVxuXG4gICAgLnN0cmV0Y2hDb2x7XG4gICAgICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAgfVxufSJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQSxBQUFBLGNBQWMsQ0FBQztFQUNYLFVBQVUsRUFBRSxLQUFLO0VBQ2pCLE1BQU0sRUFBRSxlQUFlO0NBTTFCOztBQVJELEFBR0ksY0FIVSxDQUdWLGtCQUFrQixDQUFBO0VBQ2QsS0FBSyxFQUFFLElBQUk7RUFDWCxNQUFNLEVBQUUsSUFBSTtFQUNaLFVBQVUsRUFBRSxLQUFLO0NBQ3BCOztBQUdMLEFBQUEsSUFBSSxDQUFBO0VBQ0EsZ0JBQWdCLEVBQUUsT0FBZ0I7Q0FDckM7O0FBRUQsQUFBQSxZQUFZLENBQUE7RUFFUixVQUFVLEVBQUUsMEJBQTBCO0VBQ3RDLFFBQVEsRUFBRSxRQUFRO0NBZ0RyQjs7QUFuREQsQUFLSSxZQUxRLENBS1IsY0FBYyxDQUFBO0VBQ1YsTUFBTSxFQUFFLEtBQUs7RUFDYixLQUFLLEVBQUUsS0FBSztFQUNaLFlBQVksRUFBRSxHQUFHO0VBQ2pCLGdCQUFnQixFQUFFLGtCQUFlO0VBQ2pDLE9BQU8sRUFBRSxZQUFZO0VBQ3JCLFVBQVUsRUFBRSxNQUFNO0NBY3JCOztBQXpCTCxBQWFRLFlBYkksQ0FLUixjQUFjLENBUVYsR0FBRyxDQUFBO0VBQ0MsVUFBVSxFQUFFLGVBQWU7RUFDM0IsU0FBUyxFQUFFLGVBQWU7RUFDMUIsT0FBTyxFQUFFLE1BQU07RUFDZixVQUFVLEVBQUUsSUFBSTtFQUNoQixRQUFRLEVBQUUsUUFBUTtFQUNsQixTQUFTLEVBQUUsSUFBSTtFQUNmLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLFNBQVMsRUFBRSxPQUFPO0VBQ2xCLElBQUksRUFBRSxPQUFPO0VBQ2IsTUFBTSxFQUFFLE9BQU87Q0FDbEI7O0FBeEJULEFBMkJJLFlBM0JRLENBMkJSLFdBQVcsQ0FBQTtFQUNQLE9BQU8sRUFBRSxZQUFZO0VBQ3JCLEtBQUssRUFBRSxLQUFnQjtFQUN2QixjQUFjLEVBQUUsR0FBRztDQW9CdEI7O0FBbERMLEFBZ0NRLFlBaENJLENBMkJSLFdBQVcsQ0FLUCxFQUFFLENBQUM7RUFDQyxNQUFNLEVBQUUsU0FBUztFQUNqQixPQUFPLEVBQUUsUUFBUTtFQUNqQixZQUFZLEVBQUUsS0FBSztFQUNuQixTQUFTLEVBQUUsSUFBSTtFQUNmLGdCQUFnQixFQUFFLGtCQUFlO0NBS3BDOztBQTFDVCxBQXVDWSxZQXZDQSxDQTJCUixXQUFXLENBS1AsRUFBRSxDQU9FLElBQUksQ0FBQztFQUNELE9BQU8sRUFBRSxJQUFJO0NBQ2hCOztBQXpDYixBQTRDUSxZQTVDSSxDQTJCUixXQUFXLENBaUJQLENBQUMsQ0FBQTtFQUNHLFNBQVMsRUFBRSxJQUFJO0VBQ2YsTUFBTSxFQUFFLFNBQVM7RUFDakIsZ0JBQWdCLEVBQUUsa0JBQWU7RUFDakMsT0FBTyxFQUFFLFFBQVE7Q0FDcEI7O0FBSVQsQUFDSSxVQURNLENBQ04sQ0FBQyxDQUFDO0VBQ0UsY0FBYyxFQUFFLFdBQVc7RUFDM0IsT0FBTyxFQUFFLElBQUk7Q0FDaEI7O0FBRUwsQUFDSSxVQURNLENBQ04sRUFBRSxDQUFDO0VBQ0MsTUFBTSxFQUFFLENBQUM7RUFDVCxTQUFTLEVBQUUsR0FBRztDQUNqQjs7QUFKTCxBQU1JLFVBTk0sQ0FNTixVQUFVLENBQUM7RUFDUCxXQUFXLEVBQUUsR0FBRztFQUNoQixVQUFVLEVBQUUsVUFBVTtFQUN0QixNQUFNLEVBQUUsT0FBTztFQUNmLEtBQUssRUFBRSxPQUFPO0NBU2pCOztBQW5CTCxBQVdRLFVBWEUsQ0FNTixVQUFVLENBS04sZUFBZSxDQUFDO0VBQ1osT0FBTyxFQUFFLENBQUM7RUFDVixjQUFjLEVBQUUsTUFBTTtFQUN0QixZQUFZLEVBQUUsS0FBSztDQUN0Qjs7QUFmVCxBQU1JLFVBTk0sQ0FNTixVQUFVLEFBVU4sTUFBTyxDQUFDO0VBQ0osS0FBSyxFQUFFLGtCQUFrQjtDQUM1Qjs7QUFJVCxBQUFBLFdBQVcsQ0FBQTtFQUNQLE9BQU8sRUFBRSxrQkFBa0I7Q0FNOUI7O0FBUEQsQUFHSSxXQUhPLENBR1AsR0FBRyxDQUFDO0VBQ0EsTUFBTSxFQUFFLEtBQUs7RUFDYixVQUFVLEVBQUUsT0FBTztDQUN0Qjs7QUFHTCxBQUNJLDBCQURzQixDQUN0QixDQUFDLENBQUM7RUFDRSxLQUFLLEVBQUUsSUFBSTtFQUNYLFVBQVUsRUFBRSxNQUFNO0NBQ3JCOztBQUdMLEFBQ0ksbUJBRGUsQ0FDZixFQUFFLENBQUM7RUFDQyxNQUFNLEVBQUUsQ0FBQztDQU9aOztBQVRMLEFBR1EsbUJBSFcsQ0FDZixFQUFFLENBRUUsQ0FBQyxDQUFDO0VBQ0UsY0FBYyxFQUFFLE1BQU07Q0FDekI7O0FBTFQsQUFNUSxtQkFOVyxDQUNmLEVBQUUsQ0FLRSxFQUFFLENBQUE7RUFDRSxPQUFPLEVBQUUsVUFBVTtDQUN0Qjs7QUFJVCxBQUFBLFNBQVMsQ0FBQztFQUNOLFVBQVUsRUFBRSxHQUFHO0NBQ2xCOztBQUVELEFBQUEsaUJBQWlCLENBQUE7RUFFYixVQUFVLEVBQUUsSUFBSTtDQTJCbkI7O0FBN0JELEFBSUksaUJBSmEsQ0FJYixnQkFBZ0IsQ0FBQTtFQUNaLE1BQU0sRUFBRSxXQUFXO0VBQ25CLGlCQUFpQixFQUFFLEtBQUs7RUFDeEIsTUFBTSxFQUFHLE1BQU07RUFDZixZQUFZLEVBQUUsSUFBSTtDQW9CckI7O0FBNUJMLEFBVVEsaUJBVlMsQ0FJYixnQkFBZ0IsQ0FNWixDQUFDLENBQUM7RUFDRSxVQUFVLEVBQUUsWUFBWTtFQUN4QixPQUFPLEVBQUUsQ0FBQztFQUNWLE1BQU0sRUFBRSxPQUFPO0NBS2xCOztBQWxCVCxBQVVRLGlCQVZTLENBSWIsZ0JBQWdCLENBTVosQ0FBQyxBQUtHLE1BQU8sQ0FBQztFQUNKLEtBQUssRUFBRSxPQUFPO0NBQ2pCOztBQWpCYixBQW9CUSxpQkFwQlMsQ0FJYixnQkFBZ0IsQ0FnQlosc0JBQXNCLENBQUE7RUFDbEIsTUFBTSxFQUFFLENBQUM7RUFDVCxTQUFTLEVBQUUsS0FBSztDQUNuQjs7QUF2QlQsQUF5QmdCLGlCQXpCQyxDQUliLGdCQUFnQixBQXFCWixNQUFPLENBQUMsQ0FBQyxDQUFBO0VBQ0wsT0FBTyxFQUFFLENBQUM7Q0FDYjs7QUFJVCxBQUFBLGFBQWEsQ0FBQTtFQUNULE1BQU0sRUFBRSxPQUFPO0VBQ2YsVUFBVSxFQUFFLFlBQVk7Q0FLM0I7O0FBUEQsQUFJSSxhQUpTLEFBSVQsTUFBTyxDQUFDO0VBQ0osT0FBTyxFQUFFLEdBQUc7Q0FDZjs7QUFHTCxBQUFBLGtCQUFrQixDQUFDO0VBQ2YsT0FBTyxFQUFFLElBQUk7Q0FDaEI7O0FBRUQsQUFDSSxpQkFEYSxDQUNiLElBQUksQ0FBQTtFQUNBLFdBQVcsRUFBRSxJQUFJO0NBV3BCOztBQWJMLEFBQ0ksaUJBRGEsQ0FDYixJQUFJLEFBRUEsTUFBTyxDQUFDO0VBQ0osT0FBTyxFQUFFLElBQUk7RUFDYixLQUFLLEVBQUUsS0FBSztFQUNaLFdBQVcsRUFBRSxNQUFNO0NBQ3RCOztBQVBULEFBQ0ksaUJBRGEsQ0FDYixJQUFJLEFBT0EsV0FBWSxBQUNSLE1BQU8sQ0FBQTtFQUNILE9BQU8sRUFBRSxJQUFJO0NBQ2hCOztBQVhiLEFBY0ksaUJBZGEsQ0FjYixVQUFVLENBQUE7RUFBQyxLQUFLLEVBQUUsT0FBTztDQUFHOztBQWRoQyxBQWVJLGlCQWZhLENBZWIsaUJBQWlCLENBQUE7RUFBQyxLQUFLLEVBQUUsT0FBTztDQUFHOztBQWZ2QyxBQWdCSSxpQkFoQmEsQ0FnQmIsVUFBVSxDQUFBO0VBQUMsS0FBSyxFQUFFLE9BQU87Q0FBRzs7QUFoQmhDLEFBaUJJLGlCQWpCYSxDQWlCYixnQkFBZ0IsQ0FBQTtFQUFDLEtBQUssRUFBRSxPQUFPO0NBQUc7O0FBakJ0QyxBQWtCSSxpQkFsQmEsQ0FrQmIsaUJBQWlCLENBQUE7RUFBQyxLQUFLLEVBQUUsT0FBTztDQUFHOztBQUd2QyxBQUFBLGtCQUFrQixDQUFBO0VBQ2QsVUFBVSxFQUFFLEdBQUc7Q0FDbEI7O0FBRUQsQUFBQSxTQUFTLENBQUE7RUFDTCxLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBRSxJQUFJO0NBQ2Y7O0FBRUQsQUFBQSxxQkFBcUIsQ0FBQztFQUNsQixNQUFNLEVBQUUsR0FBRztFQUNYLFlBQVksRUFBRSxLQUFLO0VBQ25CLGNBQWMsRUFBRSxNQUFNO0NBQ3pCOztBQUVELEFBQUEsV0FBVyxDQUFDO0VBQ1IsS0FBSyxFQUFFLE9BQU87Q0FDakI7O0FBRUQsQUFBQSxpQkFBaUIsQ0FBQztFQUNkLEtBQUssRUFBRSxPQUFPO0NBQ2pCOztBQUVELEFBRXlCLFlBRmIsQ0FFUixvQkFBb0IsQ0FBQyxDQUFDLENBQUM7RUFDbkIsT0FBTyxFQUFFLElBQUk7RUFDYixNQUFNLEVBQUUsT0FBTztFQUNmLFVBQVUsRUFBRSxZQUFZO0NBQzNCOztBQU5MLEFBUWlDLFlBUnJCLEFBUVIsTUFBTyxDQUFDLG9CQUFvQixDQUFDLENBQUMsQ0FBQztFQUMzQixPQUFPLEVBQUUsQ0FBQztDQUNiOztBQVZMLEFBWUksWUFaUSxDQVlSLGlCQUFpQixDQUFBO0VBQ2IsYUFBYSxFQUFFLENBQUM7Q0FDbkI7O0FBR0wsQUFBQSxtQkFBbUIsQ0FBQTtFQUNmLE9BQU8sRUFBRSxRQUFRO0NBa0JwQjs7QUFuQkQsQUFHSSxtQkFIZSxDQUdmLElBQUksQ0FBQztFQUNELGFBQWEsRUFBRSxDQUFDO0NBQ25COztBQUxMLEFBT2lCLG1CQVBFLENBT2YsWUFBWSxDQUFDLEtBQUssQ0FBQSxBQUFBLElBQUMsQ0FBSyxRQUFRLEFBQWIsRUFBYztFQUM3QixZQUFZLEVBQUUsQ0FBQztDQUNsQjs7QUFUTCxBQVdJLG1CQVhlLENBV2YsQ0FBQyxDQUFDO0VBQ0UsVUFBVSxFQUFFLElBQUk7Q0FLbkI7O0FBakJMLEFBY1EsbUJBZFcsQ0FXZixDQUFDLENBR0csQ0FBQyxDQUFDO0VBQ0UsTUFBTSxFQUFFLE9BQU87Q0FDbEI7O0FBS1QsQUFBQSxzQkFBc0IsQ0FBQTtFQUNsQixLQUFLLEVBQUUsSUFBSTtDQUNkOztBQUVELEFBQUEsV0FBVyxDQUFBO0VBQ1AsTUFBTSxFQUFFLEtBQUs7RUFDYixZQUFZLEVBQUUsS0FBSztDQUN0Qjs7QUFFRCxBQUFBLFVBQVUsQ0FBQTtFQUNOLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLE1BQU0sRUFBRSxLQUFLO0NBQ2hCOztBQUVELEFBQUEsWUFBWSxDQUFBO0VBQ1IsVUFBVSxFQUFFLElBQUk7RUFDaEIsUUFBUSxFQUFFLFFBQVE7RUFDbEIsTUFBTSxFQUFFLEtBQUs7Q0FDaEI7O0FBRUQsQUFBQSwwQkFBMEIsQ0FBQztFQUN2QixhQUFhLEVBQUUsR0FBRztDQUNyQjs7QUFHRCxNQUFNLENBQUMsTUFBTSxNQUFNLFNBQVMsRUFBRSxLQUFLO0VBRS9CLEFBQUEsZUFBZSxDQUFBO0lBQ1gsS0FBSyxFQUFFLElBQUk7R0FLZDtFQU5ELEFBR1EsZUFITyxDQUVYLFVBQVUsQ0FDTixDQUFDLENBQUM7SUFBQyxPQUFPLEVBQUUsTUFBTTtHQUFJO0VBSDlCLEFBSVEsZUFKTyxDQUVYLFVBQVUsQ0FFTixJQUFJLENBQUM7SUFBQyxPQUFPLEVBQUUsSUFBSTtHQUFJO0VBSS9CLEFBQUEsWUFBWSxDQUFBO0lBQ1IsVUFBVSxFQUFFLElBQUk7R0FHbkI7RUFKRCxBQUVJLFlBRlEsQ0FFUixjQUFjLENBQUE7SUFBQyxPQUFPLEVBQUUsSUFBSTtHQUFJO0VBRnBDLEFBR0ksWUFIUSxDQUdSLFdBQVcsQ0FBQTtJQUFDLE9BQU8sRUFBRSxLQUFLO0dBQUk7RUFHbEMsQUFBQSxXQUFXLENBQUE7SUFDUCxjQUFjLEVBQUUsTUFBTTtHQUN6QiJ9 */