.gym-parallax {
  min-height: 250px;
  height: 50vh !important;
}

.gym-parallax .img-gym-parallax {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #f8f8f8;
}

.entete-info {
  margin-top: calc(50vh / 2 - 140px / 2);
  position: relative;
}

.entete-info .square-entete {
  height: 140px;
  width: 140px;
  margin-right: 7px;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  text-align: center;
}

.entete-info .square-entete img {
  max-height: 90px !important;
  max-width: 90px !important;
  display: inline;
  margin-top: 20px;
  position: relative;
  min-width: 90px;
  min-height: 90px;
  -webkit-transform: inherit;
          transform: inherit;
  left: inherit;
  bottom: inherit;
}

.entete-info .liste-info {
  display: inline-block;
  color: white;
  vertical-align: top;
}

.entete-info .liste-info h1 {
  margin: 0 0 9px 0;
  padding: 5px 10px;
  word-spacing: -10px;
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0.7);
}

.entete-info .liste-info h1 span {
  display: none;
}

.entete-info .liste-info p {
  font-size: 14px;
  margin: 0 0 9px 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
}

.gym-menu i {
  vertical-align: text-bottom;
  display: none;
}

.info-gym h2 {
  margin: 0;
  font-size: 2em;
}

.gym-map {
  width: 100%;
  height: 80vh;
}

.type-voie {
  color: #3771C8;
}

.type-bloc {
  color: #ffcc00;
}

.upload-gym-ic {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.3;
  transition: opacity 0.3s;
  cursor: pointer;
}

.upload-gym-ic:hover {
  opacity: 1;
}

.relative {
  position: relative;
}

.ic-drop-upload {
  margin-right: 0.5em;
  vertical-align: bottom;
}

.label-dropdown {
  font-size: 16px;
  cursor: pointer;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL2d5bS9neW0uc2NzcyIsInNvdXJjZXMiOlsiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL2d5bS9neW0uc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIuZ3ltLXBhcmFsbGF4IHtcbiAgICBtaW4taGVpZ2h0OiAyNTBweDtcbiAgICBoZWlnaHQ6IDUwdmggIWltcG9ydGFudDtcbiAgICAuaW1nLWd5bS1wYXJhbGxheHtcbiAgICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICAgIGhlaWdodDogNjB2aDtcbiAgICAgICAgb2JqZWN0LWZpdDogY292ZXI7XG4gICAgfVxufVxuXG5ib2R5e1xuICAgIGJhY2tncm91bmQtY29sb3I6IHJnYigyNDgsMjQ4LDI0OCk7XG59XG5cbi5lbnRldGUtaW5mb3tcblxuICAgIG1hcmdpbi10b3A6IGNhbGMoNTB2aCAvIDIgLSAxNDBweCAvIDIpO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcblxuICAgIC5zcXVhcmUtZW50ZXRle1xuICAgICAgICBoZWlnaHQ6IDE0MHB4O1xuICAgICAgICB3aWR0aDogMTQwcHg7XG4gICAgICAgIG1hcmdpbi1yaWdodDogN3B4O1xuICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDAsMCwwLDAuNyk7XG4gICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuXG4gICAgICAgIGltZ3tcbiAgICAgICAgICAgIG1heC1oZWlnaHQ6IDkwcHggIWltcG9ydGFudDtcbiAgICAgICAgICAgIG1heC13aWR0aDogOTBweCAhaW1wb3J0YW50O1xuICAgICAgICAgICAgZGlzcGxheTogaW5saW5lO1xuICAgICAgICAgICAgbWFyZ2luLXRvcDogMjBweDtcbiAgICAgICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICAgICAgICAgIG1pbi13aWR0aDogOTBweDtcbiAgICAgICAgICAgIG1pbi1oZWlnaHQ6IDkwcHg7XG4gICAgICAgICAgICB0cmFuc2Zvcm06IGluaGVyaXQ7XG4gICAgICAgICAgICBsZWZ0OiBpbmhlcml0O1xuICAgICAgICAgICAgYm90dG9tOiBpbmhlcml0O1xuICAgICAgICB9XG4gICAgfVxuXG4gICAgLmxpc3RlLWluZm97XG4gICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICAgICAgY29sb3I6IHJnYigyNTUsMjU1LDI1NSk7XG4gICAgICAgIHZlcnRpY2FsLWFsaWduOiB0b3A7XG5cbiAgICAgICAgaDEge1xuICAgICAgICAgICAgbWFyZ2luOiAwIDAgOXB4IDA7XG4gICAgICAgICAgICBwYWRkaW5nOiA1cHggMTBweDtcbiAgICAgICAgICAgIHdvcmQtc3BhY2luZzogLTEwcHg7XG4gICAgICAgICAgICBmb250LXNpemU6IDQ1cHg7XG4gICAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDAsMCwwLDAuNyk7XG5cbiAgICAgICAgICAgIHNwYW4ge1xuICAgICAgICAgICAgICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgICAgICAgICB9XG4gICAgICAgIH1cblxuICAgICAgICBwe1xuICAgICAgICAgICAgZm9udC1zaXplOiAxNHB4O1xuICAgICAgICAgICAgbWFyZ2luOiAwIDAgOXB4IDA7XG4gICAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDAsMCwwLDAuNyk7XG4gICAgICAgICAgICBwYWRkaW5nOiA1cHggMTBweDtcbiAgICAgICAgfVxuICAgIH1cbn1cblxuLmd5bS1tZW51e1xuICAgIGkge1xuICAgICAgICB2ZXJ0aWNhbC1hbGlnbjogdGV4dC1ib3R0b207XG4gICAgICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgfVxufVxuXG4uaW5mby1neW17XG4gICAgaDIge1xuICAgICAgICBtYXJnaW46IDA7XG4gICAgICAgIGZvbnQtc2l6ZTogMmVtO1xuICAgIH1cbn1cblxuLmd5bS1tYXB7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiA4MHZoO1xufVxuXG4udHlwZS12b2lle2NvbG9yOiAjMzc3MUM4fVxuLnR5cGUtYmxvY3tjb2xvcjogI2ZmY2MwMH1cblxuLnVwbG9hZC1neW0taWMge1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBib3R0b206IDVweDtcbiAgICByaWdodDogNXB4O1xuICAgIG9wYWNpdHk6IDAuMztcbiAgICB0cmFuc2l0aW9uOiBvcGFjaXR5IDAuM3M7XG4gICAgY3Vyc29yOiBwb2ludGVyO1xuICAgICY6aG92ZXJ7IG9wYWNpdHk6IDE7IH1cbn1cblxuLnJlbGF0aXZlIHtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG5cbi5pYy1kcm9wLXVwbG9hZCB7XG4gICAgbWFyZ2luLXJpZ2h0OiAwLjVlbTtcbiAgICB2ZXJ0aWNhbC1hbGlnbjogYm90dG9tO1xufVxuXG4ubGFiZWwtZHJvcGRvd24ge1xuICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgbGluZS1oZWlnaHQ6IDIycHg7XG4gICAgcGFkZGluZzogMTRweCAxNnB4O1xuXG59Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLEFBQUEsYUFBYSxDQUFDO0VBQ1YsVUFBVSxFQUFFLEtBQUs7RUFDakIsTUFBTSxFQUFFLGVBQWU7Q0FNMUI7O0FBUkQsQUFHSSxhQUhTLENBR1QsaUJBQWlCLENBQUE7RUFDYixLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBRSxJQUFJO0VBQ1osVUFBVSxFQUFFLEtBQUs7Q0FDcEI7O0FBR0wsQUFBQSxJQUFJLENBQUE7RUFDQSxnQkFBZ0IsRUFBRSxPQUFnQjtDQUNyQzs7QUFFRCxBQUFBLFlBQVksQ0FBQTtFQUVSLFVBQVUsRUFBRSwwQkFBMEI7RUFDdEMsUUFBUSxFQUFFLFFBQVE7Q0FnRHJCOztBQW5ERCxBQUtJLFlBTFEsQ0FLUixjQUFjLENBQUE7RUFDVixNQUFNLEVBQUUsS0FBSztFQUNiLEtBQUssRUFBRSxLQUFLO0VBQ1osWUFBWSxFQUFFLEdBQUc7RUFDakIsZ0JBQWdCLEVBQUUsa0JBQWU7RUFDakMsT0FBTyxFQUFFLFlBQVk7RUFDckIsVUFBVSxFQUFFLE1BQU07Q0FjckI7O0FBekJMLEFBYVEsWUFiSSxDQUtSLGNBQWMsQ0FRVixHQUFHLENBQUE7RUFDQyxVQUFVLEVBQUUsZUFBZTtFQUMzQixTQUFTLEVBQUUsZUFBZTtFQUMxQixPQUFPLEVBQUUsTUFBTTtFQUNmLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLFNBQVMsRUFBRSxJQUFJO0VBQ2YsVUFBVSxFQUFFLElBQUk7RUFDaEIsU0FBUyxFQUFFLE9BQU87RUFDbEIsSUFBSSxFQUFFLE9BQU87RUFDYixNQUFNLEVBQUUsT0FBTztDQUNsQjs7QUF4QlQsQUEyQkksWUEzQlEsQ0EyQlIsV0FBVyxDQUFBO0VBQ1AsT0FBTyxFQUFFLFlBQVk7RUFDckIsS0FBSyxFQUFFLEtBQWdCO0VBQ3ZCLGNBQWMsRUFBRSxHQUFHO0NBb0J0Qjs7QUFsREwsQUFnQ1EsWUFoQ0ksQ0EyQlIsV0FBVyxDQUtQLEVBQUUsQ0FBQztFQUNDLE1BQU0sRUFBRSxTQUFTO0VBQ2pCLE9BQU8sRUFBRSxRQUFRO0VBQ2pCLFlBQVksRUFBRSxLQUFLO0VBQ25CLFNBQVMsRUFBRSxJQUFJO0VBQ2YsZ0JBQWdCLEVBQUUsa0JBQWU7Q0FLcEM7O0FBMUNULEFBdUNZLFlBdkNBLENBMkJSLFdBQVcsQ0FLUCxFQUFFLENBT0UsSUFBSSxDQUFDO0VBQ0QsT0FBTyxFQUFFLElBQUk7Q0FDaEI7O0FBekNiLEFBNENRLFlBNUNJLENBMkJSLFdBQVcsQ0FpQlAsQ0FBQyxDQUFBO0VBQ0csU0FBUyxFQUFFLElBQUk7RUFDZixNQUFNLEVBQUUsU0FBUztFQUNqQixnQkFBZ0IsRUFBRSxrQkFBZTtFQUNqQyxPQUFPLEVBQUUsUUFBUTtDQUNwQjs7QUFJVCxBQUNJLFNBREssQ0FDTCxDQUFDLENBQUM7RUFDRSxjQUFjLEVBQUUsV0FBVztFQUMzQixPQUFPLEVBQUUsSUFBSTtDQUNoQjs7QUFHTCxBQUNJLFNBREssQ0FDTCxFQUFFLENBQUM7RUFDQyxNQUFNLEVBQUUsQ0FBQztFQUNULFNBQVMsRUFBRSxHQUFHO0NBQ2pCOztBQUdMLEFBQUEsUUFBUSxDQUFBO0VBQ0osS0FBSyxFQUFFLElBQUk7RUFDWCxNQUFNLEVBQUUsSUFBSTtDQUNmOztBQUVELEFBQUEsVUFBVSxDQUFBO0VBQUMsS0FBSyxFQUFFLE9BQU87Q0FBRzs7QUFDNUIsQUFBQSxVQUFVLENBQUE7RUFBQyxLQUFLLEVBQUUsT0FBTztDQUFHOztBQUU1QixBQUFBLGNBQWMsQ0FBQztFQUNYLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLE1BQU0sRUFBRSxHQUFHO0VBQ1gsS0FBSyxFQUFFLEdBQUc7RUFDVixPQUFPLEVBQUUsR0FBRztFQUNaLFVBQVUsRUFBRSxZQUFZO0VBQ3hCLE1BQU0sRUFBRSxPQUFPO0NBRWxCOztBQVJELEFBT0ksY0FQVSxBQU9WLE1BQU8sQ0FBQTtFQUFFLE9BQU8sRUFBRSxDQUFDO0NBQUs7O0FBRzVCLEFBQUEsU0FBUyxDQUFDO0VBQ04sUUFBUSxFQUFFLFFBQVE7Q0FDckI7O0FBRUQsQUFBQSxlQUFlLENBQUM7RUFDWixZQUFZLEVBQUUsS0FBSztFQUNuQixjQUFjLEVBQUUsTUFBTTtDQUN6Qjs7QUFFRCxBQUFBLGVBQWUsQ0FBQztFQUNaLFNBQVMsRUFBRSxJQUFJO0VBQ2YsTUFBTSxFQUFFLE9BQU87RUFDZixPQUFPLEVBQUUsS0FBSztFQUNkLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLE9BQU8sRUFBRSxTQUFTO0NBRXJCIn0= */