.markdownZone h1 {
  font-size: 1.5em;
}

.markdownZone h2 {
  font-size: 1.4em;
}

.markdownZone h3 {
  font-size: 1.3em;
}

.markdownZone h4 {
  font-size: 1.2em;
}

.markdownZone h5 {
  font-size: 1.1em;
}

.markdownZone h6 {
  font-size: 1em;
}

.markdownZone p {
  margin: 0.5em 0;
}

.markdownZone ul {
  margin: 0.5em 0;
  padding-left: 15px;
}

.markdownZone ul li {
  list-style: disc;
  line-height: inherit;
}

.markdownZone img {
  max-height: calc(100vh - 150px);
  max-width: 100%;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL21hcmtkb3duLnNjc3MiLCJzb3VyY2VzIjpbIi92YXIvd3d3L2h0bWwvb2JseWsub3JnL3Jlc291cmNlcy9hc3NldHMvc2Fzcy9tYXJrZG93bi5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi5tYXJrZG93blpvbmV7XG4gICAgaDEge2ZvbnQtc2l6ZTogMS41ZW07fVxuICAgIGgyIHtmb250LXNpemU6IDEuNGVtO31cbiAgICBoMyB7Zm9udC1zaXplOiAxLjNlbTt9XG4gICAgaDQge2ZvbnQtc2l6ZTogMS4yZW07fVxuICAgIGg1IHtmb250LXNpemU6IDEuMWVtO31cbiAgICBoNiB7Zm9udC1zaXplOiAxZW07fVxuXG4gICAgcHtcbiAgICAgICAgbWFyZ2luOiAwLjVlbSAwO1xuICAgIH1cblxuICAgIHVse1xuICAgICAgICBtYXJnaW46IDAuNWVtIDA7XG4gICAgICAgIHBhZGRpbmctbGVmdDogMTVweDtcblxuICAgICAgICBsaSB7XG4gICAgICAgICAgICBsaXN0LXN0eWxlOiBkaXNjO1xuICAgICAgICAgICAgbGluZS1oZWlnaHQ6IGluaGVyaXQ7XG4gICAgICAgIH1cbiAgICB9XG5cbiAgICBpbWcge1xuICAgICAgICBtYXgtaGVpZ2h0OiBjYWxjKDEwMHZoIC0gMTUwcHgpO1xuICAgICAgICBtYXgtd2lkdGg6IDEwMCU7XG4gICAgfVxufSJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxBQUNJLGFBRFMsQ0FDVCxFQUFFLENBQUM7RUFBQyxTQUFTLEVBQUUsS0FBSztDQUFJOztBQUQ1QixBQUVJLGFBRlMsQ0FFVCxFQUFFLENBQUM7RUFBQyxTQUFTLEVBQUUsS0FBSztDQUFJOztBQUY1QixBQUdJLGFBSFMsQ0FHVCxFQUFFLENBQUM7RUFBQyxTQUFTLEVBQUUsS0FBSztDQUFJOztBQUg1QixBQUlJLGFBSlMsQ0FJVCxFQUFFLENBQUM7RUFBQyxTQUFTLEVBQUUsS0FBSztDQUFJOztBQUo1QixBQUtJLGFBTFMsQ0FLVCxFQUFFLENBQUM7RUFBQyxTQUFTLEVBQUUsS0FBSztDQUFJOztBQUw1QixBQU1JLGFBTlMsQ0FNVCxFQUFFLENBQUM7RUFBQyxTQUFTLEVBQUUsR0FBRztDQUFJOztBQU4xQixBQVFJLGFBUlMsQ0FRVCxDQUFDLENBQUE7RUFDRyxNQUFNLEVBQUUsT0FBTztDQUNsQjs7QUFWTCxBQVlJLGFBWlMsQ0FZVCxFQUFFLENBQUE7RUFDRSxNQUFNLEVBQUUsT0FBTztFQUNmLFlBQVksRUFBRSxJQUFJO0NBTXJCOztBQXBCTCxBQWdCUSxhQWhCSyxDQVlULEVBQUUsQ0FJRSxFQUFFLENBQUM7RUFDQyxVQUFVLEVBQUUsSUFBSTtFQUNoQixXQUFXLEVBQUUsT0FBTztDQUN2Qjs7QUFuQlQsQUFzQkksYUF0QlMsQ0FzQlQsR0FBRyxDQUFDO0VBQ0EsVUFBVSxFQUFFLG1CQUFtQjtFQUMvQixTQUFTLEVBQUUsSUFBSTtDQUNsQiJ9 */