.massive-parallax {
  min-height: 250px;
  height: 50vh !important;
}

.massive-parallax .img-massive-parallax {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #f8f8f8;
}

.entete-info {
  margin-top: calc(50vh / 2 - 140px / 2);
  position: relative;
}

.entete-info .square-entete {
  height: 140px;
  width: 140px;
  margin-right: 7px;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  text-align: center;
}

.entete-info .square-entete img {
  max-height: 90px !important;
  max-width: 90px !important;
  display: inline;
  margin-top: 20px;
  position: relative;
  min-width: 90px;
  min-height: 90px;
  -webkit-transform: inherit;
          transform: inherit;
  left: inherit;
  bottom: inherit;
}

.entete-info .liste-info {
  display: inline-block;
  color: white;
  vertical-align: top;
}

.entete-info .liste-info h1 {
  margin: 0 0 9px 0;
  padding: 5px 10px;
  word-spacing: -10px;
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0.7);
}

.entete-info .liste-info h1 span {
  display: none;
}

.entete-info .liste-info p {
  font-size: 14px;
  margin: 0 0 9px 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
}

.popup-map-sale-massive {
  padding: 0.7em;
}

.popup-map-sale-massive p {
  margin: 0 !important;
}

.popup-map-sale-massive .titre-sale-popup {
  margin-bottom: 0.2em;
  font-size: 1.9em;
}

.titre-1-massive {
  margin-top: 0;
  font-size: 2.1em;
}

.titre-2-massive {
  margin-top: 1.5em;
  font-size: 1.85em;
}

.massive-map {
  width: 100%;
  height: 80vh;
}

.massive-menu i {
  vertical-align: text-bottom;
  display: none;
}

@media screen and (max-width: 600px) {
  .massive-menu-zone {
    width: 100%;
  }

  .massive-menu-zone .massive-menu i {
    display: inline;
  }

  .massive-menu-zone .massive-menu span {
    display: none;
  }

  .entete-info {
    margin-top: 60px;
  }

  .entete-info .square-entete {
    display: none;
  }

  .entete-info .liste-info {
    display: block;
  }

  .stretchCol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL21hc3NpdmUvbWFzc2l2ZS5zY3NzIiwic291cmNlcyI6WyIvdmFyL3d3dy9odG1sL29ibHlrLm9yZy9yZXNvdXJjZXMvYXNzZXRzL3Nhc3MvbWFzc2l2ZS9tYXNzaXZlLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLy9wYXJhbGxheCBwYXIgZGVmYXV0IGQnb2JseWtcbi5tYXNzaXZlLXBhcmFsbGF4IHtcbiAgICBtaW4taGVpZ2h0OiAyNTBweDtcbiAgICBoZWlnaHQ6IDUwdmggIWltcG9ydGFudDtcbiAgICAuaW1nLW1hc3NpdmUtcGFyYWxsYXh7XG4gICAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgICBoZWlnaHQ6IDYwdmg7XG4gICAgICAgIG9iamVjdC1maXQ6IGNvdmVyO1xuICAgIH1cbn1cblxuYm9keXtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2IoMjQ4LDI0OCwyNDgpO1xufVxuXG4uZW50ZXRlLWluZm97XG5cbiAgICBtYXJnaW4tdG9wOiBjYWxjKDUwdmggLyAyIC0gMTQwcHggLyAyKTtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG5cbiAgICAuc3F1YXJlLWVudGV0ZXtcbiAgICAgICAgaGVpZ2h0OiAxNDBweDtcbiAgICAgICAgd2lkdGg6IDE0MHB4O1xuICAgICAgICBtYXJnaW4tcmlnaHQ6IDdweDtcbiAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgwLDAsMCwwLjcpO1xuICAgICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcblxuICAgICAgICBpbWd7XG4gICAgICAgICAgICBtYXgtaGVpZ2h0OiA5MHB4ICFpbXBvcnRhbnQ7XG4gICAgICAgICAgICBtYXgtd2lkdGg6IDkwcHggIWltcG9ydGFudDtcbiAgICAgICAgICAgIGRpc3BsYXk6IGlubGluZTtcbiAgICAgICAgICAgIG1hcmdpbi10b3A6IDIwcHg7XG4gICAgICAgICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgICAgICAgICBtaW4td2lkdGg6IDkwcHg7XG4gICAgICAgICAgICBtaW4taGVpZ2h0OiA5MHB4O1xuICAgICAgICAgICAgdHJhbnNmb3JtOiBpbmhlcml0O1xuICAgICAgICAgICAgbGVmdDogaW5oZXJpdDtcbiAgICAgICAgICAgIGJvdHRvbTogaW5oZXJpdDtcbiAgICAgICAgfVxuICAgIH1cblxuICAgIC5saXN0ZS1pbmZve1xuICAgICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgICAgIGNvbG9yOiByZ2IoMjU1LDI1NSwyNTUpO1xuICAgICAgICB2ZXJ0aWNhbC1hbGlnbjogdG9wO1xuXG4gICAgICAgIGgxIHtcbiAgICAgICAgICAgIG1hcmdpbjogMCAwIDlweCAwO1xuICAgICAgICAgICAgcGFkZGluZzogNXB4IDEwcHg7XG4gICAgICAgICAgICB3b3JkLXNwYWNpbmc6IC0xMHB4O1xuICAgICAgICAgICAgZm9udC1zaXplOiA0NXB4O1xuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgwLDAsMCwwLjcpO1xuXG4gICAgICAgICAgICBzcGFuIHtcbiAgICAgICAgICAgICAgICBkaXNwbGF5OiBub25lO1xuICAgICAgICAgICAgfVxuICAgICAgICB9XG5cbiAgICAgICAgcHtcbiAgICAgICAgICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICAgICAgICAgIG1hcmdpbjogMCAwIDlweCAwO1xuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgwLDAsMCwwLjcpO1xuICAgICAgICAgICAgcGFkZGluZzogNXB4IDEwcHg7XG4gICAgICAgIH1cbiAgICB9XG59XG5cbi5wb3B1cC1tYXAtc2FsZS1tYXNzaXZle1xuICAgIHBhZGRpbmc6IDAuN2VtO1xuXG4gICAgcHtcbiAgICAgICAgbWFyZ2luOiAwICFpbXBvcnRhbnQ7XG4gICAgfVxuXG4gICAgLnRpdHJlLXNhbGUtcG9wdXB7XG4gICAgICAgIG1hcmdpbi1ib3R0b206IDAuMmVtO1xuICAgICAgICBmb250LXNpemU6IDEuOWVtO1xuICAgIH1cbn1cblxuLnRpdHJlLTEtbWFzc2l2ZXtcbiAgICBtYXJnaW4tdG9wOiAwO1xuICAgIGZvbnQtc2l6ZTogMi4xZW07XG59XG5cbi50aXRyZS0yLW1hc3NpdmV7XG4gICAgbWFyZ2luLXRvcDogMS41ZW07XG4gICAgZm9udC1zaXplOiAxLjg1ZW07XG59XG5cbi5tYXNzaXZlLW1hcHtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBoZWlnaHQ6IDgwdmg7XG59XG5cbi5tYXNzaXZlLW1lbnV7XG4gICAgaSB7XG4gICAgICAgIHZlcnRpY2FsLWFsaWduOiB0ZXh0LWJvdHRvbTtcbiAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICB9XG59XG5cbi8vdmVyc2lvbiBzbWFydHBob25lXG5AbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOjYwMHB4KXtcblxuICAgIC5tYXNzaXZlLW1lbnUtem9uZXtcbiAgICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICAgIC5tYXNzaXZlLW1lbnV7XG4gICAgICAgICAgICBpIHtkaXNwbGF5OiBpbmxpbmU7fVxuICAgICAgICAgICAgc3BhbiB7ZGlzcGxheTogbm9uZTt9XG4gICAgICAgIH1cbiAgICB9XG5cbiAgICAuZW50ZXRlLWluZm97XG4gICAgICAgIG1hcmdpbi10b3A6IDYwcHg7XG4gICAgICAgIC5zcXVhcmUtZW50ZXRle2Rpc3BsYXk6IG5vbmU7fVxuICAgICAgICAubGlzdGUtaW5mb3tkaXNwbGF5OiBibG9jazt9XG4gICAgfVxuXG4gICAgLnN0cmV0Y2hDb2x7XG4gICAgICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAgfVxufSJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQSxBQUFBLGlCQUFpQixDQUFDO0VBQ2QsVUFBVSxFQUFFLEtBQUs7RUFDakIsTUFBTSxFQUFFLGVBQWU7Q0FNMUI7O0FBUkQsQUFHSSxpQkFIYSxDQUdiLHFCQUFxQixDQUFBO0VBQ2pCLEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLElBQUk7RUFDWixVQUFVLEVBQUUsS0FBSztDQUNwQjs7QUFHTCxBQUFBLElBQUksQ0FBQTtFQUNBLGdCQUFnQixFQUFFLE9BQWdCO0NBQ3JDOztBQUVELEFBQUEsWUFBWSxDQUFBO0VBRVIsVUFBVSxFQUFFLDBCQUEwQjtFQUN0QyxRQUFRLEVBQUUsUUFBUTtDQWdEckI7O0FBbkRELEFBS0ksWUFMUSxDQUtSLGNBQWMsQ0FBQTtFQUNWLE1BQU0sRUFBRSxLQUFLO0VBQ2IsS0FBSyxFQUFFLEtBQUs7RUFDWixZQUFZLEVBQUUsR0FBRztFQUNqQixnQkFBZ0IsRUFBRSxrQkFBZTtFQUNqQyxPQUFPLEVBQUUsWUFBWTtFQUNyQixVQUFVLEVBQUUsTUFBTTtDQWNyQjs7QUF6QkwsQUFhUSxZQWJJLENBS1IsY0FBYyxDQVFWLEdBQUcsQ0FBQTtFQUNDLFVBQVUsRUFBRSxlQUFlO0VBQzNCLFNBQVMsRUFBRSxlQUFlO0VBQzFCLE9BQU8sRUFBRSxNQUFNO0VBQ2YsVUFBVSxFQUFFLElBQUk7RUFDaEIsUUFBUSxFQUFFLFFBQVE7RUFDbEIsU0FBUyxFQUFFLElBQUk7RUFDZixVQUFVLEVBQUUsSUFBSTtFQUNoQixTQUFTLEVBQUUsT0FBTztFQUNsQixJQUFJLEVBQUUsT0FBTztFQUNiLE1BQU0sRUFBRSxPQUFPO0NBQ2xCOztBQXhCVCxBQTJCSSxZQTNCUSxDQTJCUixXQUFXLENBQUE7RUFDUCxPQUFPLEVBQUUsWUFBWTtFQUNyQixLQUFLLEVBQUUsS0FBZ0I7RUFDdkIsY0FBYyxFQUFFLEdBQUc7Q0FvQnRCOztBQWxETCxBQWdDUSxZQWhDSSxDQTJCUixXQUFXLENBS1AsRUFBRSxDQUFDO0VBQ0MsTUFBTSxFQUFFLFNBQVM7RUFDakIsT0FBTyxFQUFFLFFBQVE7RUFDakIsWUFBWSxFQUFFLEtBQUs7RUFDbkIsU0FBUyxFQUFFLElBQUk7RUFDZixnQkFBZ0IsRUFBRSxrQkFBZTtDQUtwQzs7QUExQ1QsQUF1Q1ksWUF2Q0EsQ0EyQlIsV0FBVyxDQUtQLEVBQUUsQ0FPRSxJQUFJLENBQUM7RUFDRCxPQUFPLEVBQUUsSUFBSTtDQUNoQjs7QUF6Q2IsQUE0Q1EsWUE1Q0ksQ0EyQlIsV0FBVyxDQWlCUCxDQUFDLENBQUE7RUFDRyxTQUFTLEVBQUUsSUFBSTtFQUNmLE1BQU0sRUFBRSxTQUFTO0VBQ2pCLGdCQUFnQixFQUFFLGtCQUFlO0VBQ2pDLE9BQU8sRUFBRSxRQUFRO0NBQ3BCOztBQUlULEFBQUEsdUJBQXVCLENBQUE7RUFDbkIsT0FBTyxFQUFFLEtBQUs7Q0FVakI7O0FBWEQsQUFHSSx1QkFIbUIsQ0FHbkIsQ0FBQyxDQUFBO0VBQ0csTUFBTSxFQUFFLFlBQVk7Q0FDdkI7O0FBTEwsQUFPSSx1QkFQbUIsQ0FPbkIsaUJBQWlCLENBQUE7RUFDYixhQUFhLEVBQUUsS0FBSztFQUNwQixTQUFTLEVBQUUsS0FBSztDQUNuQjs7QUFHTCxBQUFBLGdCQUFnQixDQUFBO0VBQ1osVUFBVSxFQUFFLENBQUM7RUFDYixTQUFTLEVBQUUsS0FBSztDQUNuQjs7QUFFRCxBQUFBLGdCQUFnQixDQUFBO0VBQ1osVUFBVSxFQUFFLEtBQUs7RUFDakIsU0FBUyxFQUFFLE1BQU07Q0FDcEI7O0FBRUQsQUFBQSxZQUFZLENBQUE7RUFDUixLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBRSxJQUFJO0NBQ2Y7O0FBRUQsQUFDSSxhQURTLENBQ1QsQ0FBQyxDQUFDO0VBQ0UsY0FBYyxFQUFFLFdBQVc7RUFDM0IsT0FBTyxFQUFFLElBQUk7Q0FDaEI7O0FBSUwsTUFBTSxDQUFDLE1BQU0sTUFBTSxTQUFTLEVBQUUsS0FBSztFQUUvQixBQUFBLGtCQUFrQixDQUFBO0lBQ2QsS0FBSyxFQUFFLElBQUk7R0FLZDtFQU5ELEFBR1Esa0JBSFUsQ0FFZCxhQUFhLENBQ1QsQ0FBQyxDQUFDO0lBQUMsT0FBTyxFQUFFLE1BQU07R0FBSTtFQUg5QixBQUlRLGtCQUpVLENBRWQsYUFBYSxDQUVULElBQUksQ0FBQztJQUFDLE9BQU8sRUFBRSxJQUFJO0dBQUk7RUFJL0IsQUFBQSxZQUFZLENBQUE7SUFDUixVQUFVLEVBQUUsSUFBSTtHQUduQjtFQUpELEFBRUksWUFGUSxDQUVSLGNBQWMsQ0FBQTtJQUFDLE9BQU8sRUFBRSxJQUFJO0dBQUk7RUFGcEMsQUFHSSxZQUhRLENBR1IsV0FBVyxDQUFBO0lBQUMsT0FBTyxFQUFFLEtBQUs7R0FBSTtFQUdsQyxBQUFBLFdBQVcsQ0FBQTtJQUNQLGNBQWMsRUFBRSxNQUFNO0dBQ3pCIn0= */