.titre-1-partner {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.titre-2-partner {
  margin-top: 0;
  font-size: 1.8em;
  margin-bottom: 1em;
}

.div-svg-partner img {
  width: 100%;
}

.row-how-partner {
  margin-bottom: 7em;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL3BhcnRuZXIvcGFydG5lci1ob3cuc2NzcyIsInNvdXJjZXMiOlsiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL3BhcnRuZXIvcGFydG5lci1ob3cuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIvL3BhcnRuZXIgcGFnZVxuLnRpdHJlLTEtcGFydG5lciB7XG4gICAgZm9udC1zaXplOiAzZW07XG4gICAgbWFyZ2luLWJvdHRvbTogMC41ZW07XG59XG5cbi50aXRyZS0yLXBhcnRuZXIge1xuICAgIG1hcmdpbi10b3A6IDA7XG4gICAgZm9udC1zaXplOiAxLjhlbTtcbiAgICBtYXJnaW4tYm90dG9tOiAxZW07XG59XG5cbi5kaXYtc3ZnLXBhcnRuZXIge1xuICAgIGltZyB7XG4gICAgICAgIHdpZHRoOiAxMDAlO1xuICAgIH1cbn1cblxuLnJvdy1ob3ctcGFydG5lciB7XG4gICAgbWFyZ2luLWJvdHRvbTogN2VtO1xufSJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQSxBQUFBLGdCQUFnQixDQUFDO0VBQ2IsU0FBUyxFQUFFLEdBQUc7RUFDZCxhQUFhLEVBQUUsS0FBSztDQUN2Qjs7QUFFRCxBQUFBLGdCQUFnQixDQUFDO0VBQ2IsVUFBVSxFQUFFLENBQUM7RUFDYixTQUFTLEVBQUUsS0FBSztFQUNoQixhQUFhLEVBQUUsR0FBRztDQUNyQjs7QUFFRCxBQUNJLGdCQURZLENBQ1osR0FBRyxDQUFDO0VBQ0EsS0FBSyxFQUFFLElBQUk7Q0FDZDs7QUFHTCxBQUFBLGdCQUFnQixDQUFDO0VBQ2IsYUFBYSxFQUFFLEdBQUc7Q0FDckIifQ== */