.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-content .crag-leaflet-info {
  margin: 5px;
}

.leaflet-popup-content-wrapper {
  padding: 0 0 1px 0;
}

.photo-couve-site-leaflet {
  width: 100%;
  height: 100px;
  min-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.crag-leaflet-info table td {
  padding: 5px 3px 5px 0 !important;
}

.crag-leaflet-info table tr {
  border: 1px #c3c3c3;
  border-top-style: solid;
}

.crag-leaflet-info table tr td:first-child {
  text-align: right;
  font-weight: bold;
}

.crag-leaflet-info table .btn-vers-crags {
  text-align: right;
}

.crag-leaflet-info table .btn-vers-crags a {
  margin-top: 5px;
  color: white;
}

.crag-leaflet-info table .material-icons {
  vertical-align: sub;
}

.crag-leaflet-info table .type-grimpe span {
  font-weight: bold;
}

.crag-leaflet-info table .type-grimpe span:after {
  content: ', ';
  color: black;
  font-weight: normal;
}

.crag-leaflet-info table .type-grimpe span:last-child:after {
  display: none;
}

.crag-leaflet-info table .type-grimpe .voie {
  color: #3771C8;
}

.crag-leaflet-info table .type-grimpe .grande-voie {
  color: #FF5555;
}

.crag-leaflet-info table .type-grimpe .bloc {
  color: #ffcc00;
}

.crag-leaflet-info table .type-grimpe .deep-water {
  color: #87cdde;
}

.crag-leaflet-info table .type-grimpe .via-ferrata {
  color: #37c871;
}

.crag-leaflet-info .titre-crag-leaflet {
  font-size: 2.5em;
  margin: 0 0 5px 0;
  text-align: center;
}

.crag-leaflet-info .titre-crag-leaflet a {
  color: inherit;
}

.parking-leaflet-info {
  margin: 10px !important;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL21hcC9wb3B1cE1hcFN0eWxlLnNjc3MiLCJzb3VyY2VzIjpbIi92YXIvd3d3L2h0bWwvb2JseWsub3JnL3Jlc291cmNlcy9hc3NldHMvc2Fzcy9tYXAvcG9wdXBNYXBTdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi8vc3R5bGUgZGVzIHBvcHVwcyBwb3VyIGxhIHBhcnRpZSBtYXBcbi5sZWFmbGV0LXBvcHVwLWNvbnRlbnR7XG4gICAgbWFyZ2luIDogMDtcblxuICAgIC5jcmFnLWxlYWZsZXQtaW5mbyB7XG4gICAgICAgIG1hcmdpbjogNXB4O1xuICAgIH1cbn1cblxuLmxlYWZsZXQtcG9wdXAtY29udGVudC13cmFwcGVye1xuICAgIHBhZGRpbmc6IDAgMCAxcHggMDtcbn1cbi5waG90by1jb3V2ZS1zaXRlLWxlYWZsZXR7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAxMDBweDtcbiAgICBtaW4td2lkdGg6IDMwMHB4O1xuICAgIG9iamVjdC1maXQ6IGNvdmVyO1xufVxuXG5cbi5jcmFnLWxlYWZsZXQtaW5mbyB7XG5cbiAgICB0YWJsZSB7XG4gICAgICAgIHRkIHtcbiAgICAgICAgICAgIHBhZGRpbmc6IDVweCAzcHggNXB4IDAgIWltcG9ydGFudDtcbiAgICAgICAgfVxuICAgICAgICB0ciB7XG4gICAgICAgICAgICBib3JkZXI6IDFweCAjYzNjM2MzO1xuICAgICAgICAgICAgYm9yZGVyLXRvcC1zdHlsZTogc29saWQ7XG5cbiAgICAgICAgICAgIHRkOmZpcnN0LWNoaWxkIHtcbiAgICAgICAgICAgICAgICB0ZXh0LWFsaWduOiByaWdodDtcbiAgICAgICAgICAgICAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICAgICAgICAgIH1cbiAgICAgICAgfVxuXG4gICAgICAgIC5idG4tdmVycy1jcmFncyB7XG4gICAgICAgICAgICB0ZXh0LWFsaWduOiByaWdodDtcbiAgICAgICAgICAgIGF7XG4gICAgICAgICAgICAgICAgbWFyZ2luLXRvcDogNXB4O1xuICAgICAgICAgICAgICAgIGNvbG9yOiB3aGl0ZTtcbiAgICAgICAgICAgIH1cbiAgICAgICAgfVxuICAgICAgICAubWF0ZXJpYWwtaWNvbnMge1xuICAgICAgICAgICAgdmVydGljYWwtYWxpZ246IHN1YjtcbiAgICAgICAgfVxuXG4gICAgICAgIC50eXBlLWdyaW1wZXtcbiAgICAgICAgICAgIHNwYW57XG4gICAgICAgICAgICAgICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgICAgICAgICAgICAgJjphZnRlciB7XG4gICAgICAgICAgICAgICAgICAgIGNvbnRlbnQ6ICcsICc7XG4gICAgICAgICAgICAgICAgICAgIGNvbG9yOiBibGFjaztcbiAgICAgICAgICAgICAgICAgICAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcbiAgICAgICAgICAgICAgICB9XG4gICAgICAgICAgICAgICAgJjpsYXN0LWNoaWxke1xuICAgICAgICAgICAgICAgICAgICAmOmFmdGVye1xuICAgICAgICAgICAgICAgICAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICAgICAgICAgICAgICAgICAgfVxuICAgICAgICAgICAgICAgIH1cbiAgICAgICAgICAgIH1cbiAgICAgICAgICAgIC52b2lle2NvbG9yOiAjMzc3MUM4fVxuICAgICAgICAgICAgLmdyYW5kZS12b2lle2NvbG9yOiAjRkY1NTU1fVxuICAgICAgICAgICAgLmJsb2N7Y29sb3I6ICNmZmNjMDB9XG4gICAgICAgICAgICAuZGVlcC13YXRlcntjb2xvcjogIzg3Y2RkZX1cbiAgICAgICAgICAgIC52aWEtZmVycmF0YXtjb2xvcjogIzM3Yzg3MX1cbiAgICAgICAgfVxuICAgIH1cblxuICAgIC50aXRyZS1jcmFnLWxlYWZsZXR7XG4gICAgICAgIGZvbnQtc2l6ZTogMi41ZW07XG4gICAgICAgIG1hcmdpbjogMCAwIDVweCAwO1xuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICAgIGEge2NvbG9yOiBpbmhlcml0O31cbiAgICB9XG59XG5cbi5wYXJraW5nLWxlYWZsZXQtaW5mb3tcbiAgICBtYXJnaW46IDEwcHggIWltcG9ydGFudDtcbn0iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0EsQUFBQSxzQkFBc0IsQ0FBQTtFQUNsQixNQUFNLEVBQUcsQ0FBQztDQUtiOztBQU5ELEFBR0ksc0JBSGtCLENBR2xCLGtCQUFrQixDQUFDO0VBQ2YsTUFBTSxFQUFFLEdBQUc7Q0FDZDs7QUFHTCxBQUFBLDhCQUE4QixDQUFBO0VBQzFCLE9BQU8sRUFBRSxTQUFTO0NBQ3JCOztBQUNELEFBQUEseUJBQXlCLENBQUE7RUFDckIsS0FBSyxFQUFFLElBQUk7RUFDWCxNQUFNLEVBQUUsS0FBSztFQUNiLFNBQVMsRUFBRSxLQUFLO0VBQ2hCLFVBQVUsRUFBRSxLQUFLO0NBQ3BCOztBQUdELEFBR1Esa0JBSFUsQ0FFZCxLQUFLLENBQ0QsRUFBRSxDQUFDO0VBQ0MsT0FBTyxFQUFFLHdCQUF3QjtDQUNwQzs7QUFMVCxBQU1RLGtCQU5VLENBRWQsS0FBSyxDQUlELEVBQUUsQ0FBQztFQUNDLE1BQU0sRUFBRSxXQUFXO0VBQ25CLGdCQUFnQixFQUFFLEtBQUs7Q0FNMUI7O0FBZFQsQUFVWSxrQkFWTSxDQUVkLEtBQUssQ0FJRCxFQUFFLENBSUUsRUFBRSxBQUFBLFlBQVksQ0FBQztFQUNYLFVBQVUsRUFBRSxLQUFLO0VBQ2pCLFdBQVcsRUFBRSxJQUFJO0NBQ3BCOztBQWJiLEFBZ0JRLGtCQWhCVSxDQUVkLEtBQUssQ0FjRCxlQUFlLENBQUM7RUFDWixVQUFVLEVBQUUsS0FBSztDQUtwQjs7QUF0QlQsQUFrQlksa0JBbEJNLENBRWQsS0FBSyxDQWNELGVBQWUsQ0FFWCxDQUFDLENBQUE7RUFDRyxVQUFVLEVBQUUsR0FBRztFQUNmLEtBQUssRUFBRSxLQUFLO0NBQ2Y7O0FBckJiLEFBdUJRLGtCQXZCVSxDQUVkLEtBQUssQ0FxQkQsZUFBZSxDQUFDO0VBQ1osY0FBYyxFQUFFLEdBQUc7Q0FDdEI7O0FBekJULEFBNEJZLGtCQTVCTSxDQUVkLEtBQUssQ0F5QkQsWUFBWSxDQUNSLElBQUksQ0FBQTtFQUNBLFdBQVcsRUFBRSxJQUFJO0NBV3BCOztBQXhDYixBQTRCWSxrQkE1Qk0sQ0FFZCxLQUFLLENBeUJELFlBQVksQ0FDUixJQUFJLEFBRUEsTUFBTyxDQUFDO0VBQ0osT0FBTyxFQUFFLElBQUk7RUFDYixLQUFLLEVBQUUsS0FBSztFQUNaLFdBQVcsRUFBRSxNQUFNO0NBQ3RCOztBQWxDakIsQUE0Qlksa0JBNUJNLENBRWQsS0FBSyxDQXlCRCxZQUFZLENBQ1IsSUFBSSxBQU9BLFdBQVksQUFDUixNQUFPLENBQUE7RUFDSCxPQUFPLEVBQUUsSUFBSTtDQUNoQjs7QUF0Q3JCLEFBeUNZLGtCQXpDTSxDQUVkLEtBQUssQ0F5QkQsWUFBWSxDQWNSLEtBQUssQ0FBQTtFQUFDLEtBQUssRUFBRSxPQUFPO0NBQUc7O0FBekNuQyxBQTBDWSxrQkExQ00sQ0FFZCxLQUFLLENBeUJELFlBQVksQ0FlUixZQUFZLENBQUE7RUFBQyxLQUFLLEVBQUUsT0FBTztDQUFHOztBQTFDMUMsQUEyQ1ksa0JBM0NNLENBRWQsS0FBSyxDQXlCRCxZQUFZLENBZ0JSLEtBQUssQ0FBQTtFQUFDLEtBQUssRUFBRSxPQUFPO0NBQUc7O0FBM0NuQyxBQTRDWSxrQkE1Q00sQ0FFZCxLQUFLLENBeUJELFlBQVksQ0FpQlIsV0FBVyxDQUFBO0VBQUMsS0FBSyxFQUFFLE9BQU87Q0FBRzs7QUE1Q3pDLEFBNkNZLGtCQTdDTSxDQUVkLEtBQUssQ0F5QkQsWUFBWSxDQWtCUixZQUFZLENBQUE7RUFBQyxLQUFLLEVBQUUsT0FBTztDQUFHOztBQTdDMUMsQUFpREksa0JBakRjLENBaURkLG1CQUFtQixDQUFBO0VBQ2YsU0FBUyxFQUFFLEtBQUs7RUFDaEIsTUFBTSxFQUFFLFNBQVM7RUFDakIsVUFBVSxFQUFFLE1BQU07Q0FFckI7O0FBdERMLEFBcURRLGtCQXJEVSxDQWlEZCxtQkFBbUIsQ0FJZixDQUFDLENBQUM7RUFBQyxLQUFLLEVBQUUsT0FBTztDQUFJOztBQUk3QixBQUFBLHFCQUFxQixDQUFBO0VBQ2pCLE1BQU0sRUFBRSxlQUFlO0NBQzFCIn0= */