.img-qui-somme-nous {
  width: 250px;
  max-width: 100%;
  margin-bottom: 10px;
}

.right-img {
  margin-left: 20px;
}

.left-img {
  margin-right: 20px;
}

.titre-2-terms {
  font-size: 1.8em;
}

.h3-mentions {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

.logo-outil-about {
  max-height: 2.5em;
  max-width: 2.5em;
  margin: 0.2em 1em 0.2em 0;
  vertical-align: middle;
}

.mini-logo-outil-about {
  height: 1.2em;
  vertical-align: sub;
}

.infographie-contact {
  width: 100%;
}

.img-eco-serveur {
  height: 4em;
}

.sommaire-mention a {
  color: inherit;
  transition: opacity 0.3s;
}

.sommaire-mention a:hover {
  opacity: 0.5;
}

.sommaire-mention li {
  list-style: disc !important;
  margin-left: 15px;
}

.sommaire-mention .li_sous_menu_mentions {
  list-style: none !important;
}

.sommaire-mention .li_sous_menu_mentions .sous_sommaire_mentions {
  margin-left: 10px;
  margin-bottom: 10px;
}

.sommaire-mention .li_sous_menu_mentions .sous_sommaire_mentions li {
  list-style: circle !important;
}

.lien-vers-sommaire {
  vertical-align: top;
  font-weight: normal;
  font-size: 10pt;
}

.section-aide {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.titre-2-helps {
  font-size: 1.9em;
  margin-top: 2em;
}

.titre-6-helps {
  cursor: pointer;
  transition: opacity 0.3s;
}

.titre-6-helps:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL3Byb2plY3QvcHJvamVjdC5zY3NzIiwic291cmNlcyI6WyIvdmFyL3d3dy9odG1sL29ibHlrLm9yZy9yZXNvdXJjZXMvYXNzZXRzL3Nhc3MvcHJvamVjdC9wcm9qZWN0LnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLmltZy1xdWktc29tbWUtbm91c3tcbiAgICB3aWR0aDogMjUwcHg7XG4gICAgbWF4LXdpZHRoOiAxMDAlO1xuICAgIG1hcmdpbi1ib3R0b206IDEwcHg7XG59XG4ucmlnaHQtaW1ne1xuICAgIG1hcmdpbi1sZWZ0OiAyMHB4O1xufVxuXG4ubGVmdC1pbWd7XG4gICAgbWFyZ2luLXJpZ2h0OiAyMHB4O1xufVxuXG4udGl0cmUtMi10ZXJtc3tcbiAgICBmb250LXNpemU6IDEuOGVtO1xufVxuXG4uaDMtbWVudGlvbnN7XG4gICAgZm9udC1zaXplOiAxLjJlbTtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBmb250LXN0eWxlOiBpdGFsaWM7XG59XG5cbi5sb2dvLW91dGlsLWFib3V0e1xuICAgIG1heC1oZWlnaHQ6IDIuNWVtO1xuICAgIG1heC13aWR0aDogMi41ZW07XG4gICAgbWFyZ2luOiAwLjJlbSAxZW0gMC4yZW0gMDtcbiAgICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlO1xufVxuXG4ubWluaS1sb2dvLW91dGlsLWFib3V0e1xuICAgIGhlaWdodDogMS4yZW07XG4gICAgdmVydGljYWwtYWxpZ246IHN1Yjtcbn1cblxuXG4uaW5mb2dyYXBoaWUtY29udGFjdCB7XG4gICAgd2lkdGg6IDEwMCU7XG59XG5cbi5pbWctZWNvLXNlcnZldXJ7XG4gICAgaGVpZ2h0OiA0ZW07XG59XG5cbi5zb21tYWlyZS1tZW50aW9ue1xuXG4gICAgYXtcbiAgICAgICAgY29sb3I6IGluaGVyaXQ7XG4gICAgICAgIHRyYW5zaXRpb246IG9wYWNpdHkgMC4zcztcblxuICAgICAgICAmOmhvdmVyIHtcbiAgICAgICAgICAgIG9wYWNpdHk6IDAuNTtcbiAgICAgICAgfVxuICAgIH1cblxuICAgIGxpe1xuICAgICAgICBsaXN0LXN0eWxlOiBkaXNjICFpbXBvcnRhbnQ7XG4gICAgICAgIG1hcmdpbi1sZWZ0OiAxNXB4O1xuICAgIH1cblxuICAgIC5saV9zb3VzX21lbnVfbWVudGlvbnN7XG4gICAgICAgIGxpc3Qtc3R5bGU6IG5vbmUgIWltcG9ydGFudDtcblxuICAgICAgICAuc291c19zb21tYWlyZV9tZW50aW9uc3tcblxuICAgICAgICAgICAgbGl7XG4gICAgICAgICAgICAgICAgbGlzdC1zdHlsZTogY2lyY2xlICFpbXBvcnRhbnQ7XG4gICAgICAgICAgICB9XG5cbiAgICAgICAgICAgIG1hcmdpbi1sZWZ0OiAxMHB4O1xuICAgICAgICAgICAgbWFyZ2luLWJvdHRvbTogMTBweDtcbiAgICAgICAgfVxuICAgIH1cbn1cblxuLmxpZW4tdmVycy1zb21tYWlyZXtcbiAgICB2ZXJ0aWNhbC1hbGlnbjogdG9wO1xuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XG4gICAgZm9udC1zaXplOiAxMHB0O1xufVxuXG5cblxuLy9BSURFU1xuXG4uc2VjdGlvbi1haWRlIHtcbiAgICBkaXNwbGF5OiBub25lO1xuICAgIG9wYWNpdHk6IDA7XG4gICAgdHJhbnNpdGlvbjogb3BhY2l0eSAwLjNzO1xufVxuXG4udGl0cmUtMi1oZWxwc3tcbiAgICBmb250LXNpemU6IDEuOWVtO1xuICAgIG1hcmdpbi10b3A6IDJlbTtcbn1cblxuLnRpdHJlLTYtaGVscHMge1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbiAgICB0cmFuc2l0aW9uOiBvcGFjaXR5IDAuM3M7XG4gICAgJjpob3ZlcntcbiAgICAgICAgb3BhY2l0eTogMC44O1xuICAgIH1cbn0iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsQUFBQSxtQkFBbUIsQ0FBQTtFQUNmLEtBQUssRUFBRSxLQUFLO0VBQ1osU0FBUyxFQUFFLElBQUk7RUFDZixhQUFhLEVBQUUsSUFBSTtDQUN0Qjs7QUFDRCxBQUFBLFVBQVUsQ0FBQTtFQUNOLFdBQVcsRUFBRSxJQUFJO0NBQ3BCOztBQUVELEFBQUEsU0FBUyxDQUFBO0VBQ0wsWUFBWSxFQUFFLElBQUk7Q0FDckI7O0FBRUQsQUFBQSxjQUFjLENBQUE7RUFDVixTQUFTLEVBQUUsS0FBSztDQUNuQjs7QUFFRCxBQUFBLFlBQVksQ0FBQTtFQUNSLFNBQVMsRUFBRSxLQUFLO0VBQ2hCLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLFVBQVUsRUFBRSxNQUFNO0NBQ3JCOztBQUVELEFBQUEsaUJBQWlCLENBQUE7RUFDYixVQUFVLEVBQUUsS0FBSztFQUNqQixTQUFTLEVBQUUsS0FBSztFQUNoQixNQUFNLEVBQUUsaUJBQWlCO0VBQ3pCLGNBQWMsRUFBRSxNQUFNO0NBQ3pCOztBQUVELEFBQUEsc0JBQXNCLENBQUE7RUFDbEIsTUFBTSxFQUFFLEtBQUs7RUFDYixjQUFjLEVBQUUsR0FBRztDQUN0Qjs7QUFHRCxBQUFBLG9CQUFvQixDQUFDO0VBQ2pCLEtBQUssRUFBRSxJQUFJO0NBQ2Q7O0FBRUQsQUFBQSxnQkFBZ0IsQ0FBQTtFQUNaLE1BQU0sRUFBRSxHQUFHO0NBQ2Q7O0FBRUQsQUFFSSxpQkFGYSxDQUViLENBQUMsQ0FBQTtFQUNHLEtBQUssRUFBRSxPQUFPO0VBQ2QsVUFBVSxFQUFFLFlBQVk7Q0FLM0I7O0FBVEwsQUFFSSxpQkFGYSxDQUViLENBQUMsQUFJRyxNQUFPLENBQUM7RUFDSixPQUFPLEVBQUUsR0FBRztDQUNmOztBQVJULEFBV0ksaUJBWGEsQ0FXYixFQUFFLENBQUE7RUFDRSxVQUFVLEVBQUUsZUFBZTtFQUMzQixXQUFXLEVBQUUsSUFBSTtDQUNwQjs7QUFkTCxBQWdCSSxpQkFoQmEsQ0FnQmIsc0JBQXNCLENBQUE7RUFDbEIsVUFBVSxFQUFFLGVBQWU7Q0FXOUI7O0FBNUJMLEFBbUJRLGlCQW5CUyxDQWdCYixzQkFBc0IsQ0FHbEIsdUJBQXVCLENBQUE7RUFNbkIsV0FBVyxFQUFFLElBQUk7RUFDakIsYUFBYSxFQUFFLElBQUk7Q0FDdEI7O0FBM0JULEFBcUJZLGlCQXJCSyxDQWdCYixzQkFBc0IsQ0FHbEIsdUJBQXVCLENBRW5CLEVBQUUsQ0FBQTtFQUNFLFVBQVUsRUFBRSxpQkFBaUI7Q0FDaEM7O0FBUWIsQUFBQSxtQkFBbUIsQ0FBQTtFQUNmLGNBQWMsRUFBRSxHQUFHO0VBQ25CLFdBQVcsRUFBRSxNQUFNO0VBQ25CLFNBQVMsRUFBRSxJQUFJO0NBQ2xCOztBQU1ELEFBQUEsYUFBYSxDQUFDO0VBQ1YsT0FBTyxFQUFFLElBQUk7RUFDYixPQUFPLEVBQUUsQ0FBQztFQUNWLFVBQVUsRUFBRSxZQUFZO0NBQzNCOztBQUVELEFBQUEsY0FBYyxDQUFBO0VBQ1YsU0FBUyxFQUFFLEtBQUs7RUFDaEIsVUFBVSxFQUFFLEdBQUc7Q0FDbEI7O0FBRUQsQUFBQSxjQUFjLENBQUM7RUFDWCxNQUFNLEVBQUUsT0FBTztFQUNmLFVBQVUsRUFBRSxZQUFZO0NBSTNCOztBQU5ELEFBR0ksY0FIVSxBQUdWLE1BQU8sQ0FBQTtFQUNILE9BQU8sRUFBRSxHQUFHO0NBQ2YifQ== */