.circle-img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.max-min-img {
  max-height: 50px;
  max-width: 50px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL3Rvb2xzL3Rvb2xzLnNjc3MiLCJzb3VyY2VzIjpbIi92YXIvd3d3L2h0bWwvb2JseWsub3JnL3Jlc291cmNlcy9hc3NldHMvc2Fzcy90b29scy90b29scy5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIlxuLy9MZXMgcGFnZXMgZGVzIGluZGV4ZXNcbi5jaXJjbGUtaW1nIHtcbiAgICBoZWlnaHQ6IDUwcHg7XG4gICAgd2lkdGg6IDUwcHg7XG4gICAgb2JqZWN0LWZpdDogY292ZXI7XG59XG5cbi5tYXgtbWluLWltZyB7XG4gICAgbWF4LWhlaWdodDogNTBweDtcbiAgICBtYXgtd2lkdGg6IDUwcHg7XG59Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUVBLEFBQUEsV0FBVyxDQUFDO0VBQ1IsTUFBTSxFQUFFLElBQUk7RUFDWixLQUFLLEVBQUUsSUFBSTtFQUNYLFVBQVUsRUFBRSxLQUFLO0NBQ3BCOztBQUVELEFBQUEsWUFBWSxDQUFDO0VBQ1QsVUFBVSxFQUFFLElBQUk7RUFDaEIsU0FBUyxFQUFFLElBQUk7Q0FDbEIifQ== */