$color-grade-1 : rgb(255,85,220);
$color-grade-2 : rgb(246,68,211);
$color-grade-3 : rgb(238,51,201);
$color-grade-4 : rgb(229,34,190);
$color-grade-5 : rgb(221,17,180);
$color-grade-6 : rgb(212,0,170);
$color-grade-7 : rgb(134,205,222);
$color-grade-8 : rgb(119,198,218);
$color-grade-9 : rgb(103,191,213);
$color-grade-10 : rgb(87,184,209);
$color-grade-11 : rgb(71,178,204);
$color-grade-12 : rgb(55,170,200);
$color-grade-13 : rgb(255,221,84);
$color-grade-14 : rgb(252,215,68);
$color-grade-15 : rgb(249,208,51);
$color-grade-16 : rgb(246,202,34);
$color-grade-17 : rgb(243,195,17);
$color-grade-18 : rgb(240,189,0);
$color-grade-19 : rgb(255,127,42);
$color-grade-20 : rgb(246,119,34);
$color-grade-21 : rgb(238,110,25);
$color-grade-22 : rgb(229,102,17);
$color-grade-23 : rgb(221,93,8);
$color-grade-24 : rgb(212,85,0);
$color-grade-25 : rgb(170,212,0);
$color-grade-26 : rgb(156,195,0);
$color-grade-27 : rgb(143,178,0);
$color-grade-28 : rgb(129,161,0);
$color-grade-29 : rgb(115,144,0);
$color-grade-30 : rgb(102,128,0);
$color-grade-31 : rgb(0,85,212);
$color-grade-32 : rgb(0,75,186);
$color-grade-33 : rgb(0,64,161);
$color-grade-34 : rgb(0,55,136);
$color-grade-35 : rgb(0,44,110);
$color-grade-36 : rgb(0,34,85);
$color-grade-37 : rgb(171,55,200);
$color-grade-38 : rgb(157,51,184);
$color-grade-39 : rgb(144,46,168);
$color-grade-40 : rgb(130,42,152);
$color-grade-41 : rgb(117,37,136);
$color-grade-42 : rgb(103,33,120);
$color-grade-43 : rgb(255,59,59);
$color-grade-44 : rgb(255,42,42);
$color-grade-45 : rgb(221,25,25);
$color-grade-46 : rgb(204,17,17);
$color-grade-47 : rgb(187,8,8);
$color-grade-48 : rgb(170,0,0);
$color-grade-49 : rgb(128,128,128);
$color-grade-50 : rgb(102,102,102);
$color-grade-51 : rgb(77,77,77);
$color-grade-52 : rgb(51,51,51);
$color-grade-53 : rgb(25,25,25);
$color-grade-54 : rgb(0,0,0);

//couleur de text
.color-grade-1 { color : $color-grade-1; }
.color-grade-2 { color : $color-grade-2; }
.color-grade-3 { color : $color-grade-3; }
.color-grade-4 { color : $color-grade-4; }
.color-grade-5 { color : $color-grade-5; }
.color-grade-6 { color : $color-grade-6; }
.color-grade-7 { color : $color-grade-7; }
.color-grade-8 { color : $color-grade-8; }
.color-grade-9 { color : $color-grade-9; }
.color-grade-10 { color : $color-grade-10; }
.color-grade-11 { color : $color-grade-11; }
.color-grade-12 { color : $color-grade-12; }
.color-grade-13 { color : $color-grade-13; }
.color-grade-14 { color : $color-grade-14; }
.color-grade-15 { color : $color-grade-15; }
.color-grade-16 { color : $color-grade-16; }
.color-grade-17 { color : $color-grade-17; }
.color-grade-18 { color : $color-grade-18; }
.color-grade-19 { color : $color-grade-19; }
.color-grade-20 { color : $color-grade-20; }
.color-grade-21 { color : $color-grade-21; }
.color-grade-22 { color : $color-grade-22; }
.color-grade-23 { color : $color-grade-23; }
.color-grade-24 { color : $color-grade-24; }
.color-grade-25 { color : $color-grade-25; }
.color-grade-26 { color : $color-grade-26; }
.color-grade-27 { color : $color-grade-27; }
.color-grade-28 { color : $color-grade-28; }
.color-grade-29 { color : $color-grade-29; }
.color-grade-30 { color : $color-grade-30; }
.color-grade-31 { color : $color-grade-31; }
.color-grade-32 { color : $color-grade-32; }
.color-grade-33 { color : $color-grade-33; }
.color-grade-34 { color : $color-grade-34; }
.color-grade-35 { color : $color-grade-35; }
.color-grade-36 { color : $color-grade-36; }
.color-grade-37 { color : $color-grade-37; }
.color-grade-38 { color : $color-grade-38; }
.color-grade-39 { color : $color-grade-39; }
.color-grade-40 { color : $color-grade-40; }
.color-grade-41 { color : $color-grade-41; }
.color-grade-42 { color : $color-grade-42; }
.color-grade-43 { color : $color-grade-43; }
.color-grade-44 { color : $color-grade-44; }
.color-grade-45 { color : $color-grade-45; }
.color-grade-46 { color : $color-grade-46; }
.color-grade-47 { color : $color-grade-47; }
.color-grade-48 { color : $color-grade-48; }
.color-grade-49 { color : $color-grade-49; }
.color-grade-50 { color : $color-grade-50; }
.color-grade-51 { color : $color-grade-51; }
.color-grade-52 { color : $color-grade-52; }
.color-grade-53 { color : $color-grade-53; }
.color-grade-54 { color : $color-grade-54; }


//Couleur de background
.bg-color-grade-1 { background-color : $color-grade-1; }
.bg-color-grade-2 { background-color : $color-grade-2; }
.bg-color-grade-3 { background-color : $color-grade-3; }
.bg-color-grade-4 { background-color : $color-grade-4; }
.bg-color-grade-5 { background-color : $color-grade-5; }
.bg-color-grade-6 { background-color : $color-grade-6; }
.bg-color-grade-7 { background-color : $color-grade-7; }
.bg-color-grade-8 { background-color : $color-grade-8; }
.bg-color-grade-9 { background-color : $color-grade-9; }
.bg-color-grade-10 { background-color : $color-grade-10; }
.bg-color-grade-11 { background-color : $color-grade-11; }
.bg-color-grade-12 { background-color : $color-grade-12; }
.bg-color-grade-13 { background-color : $color-grade-13; }
.bg-color-grade-14 { background-color : $color-grade-14; }
.bg-color-grade-15 { background-color : $color-grade-15; }
.bg-color-grade-16 { background-color : $color-grade-16; }
.bg-color-grade-17 { background-color : $color-grade-17; }
.bg-color-grade-18 { background-color : $color-grade-18; }
.bg-color-grade-19 { background-color : $color-grade-19; }
.bg-color-grade-20 { background-color : $color-grade-20; }
.bg-color-grade-21 { background-color : $color-grade-21; }
.bg-color-grade-22 { background-color : $color-grade-22; }
.bg-color-grade-23 { background-color : $color-grade-23; }
.bg-color-grade-24 { background-color : $color-grade-24; }
.bg-color-grade-25 { background-color : $color-grade-25; }
.bg-color-grade-26 { background-color : $color-grade-26; }
.bg-color-grade-27 { background-color : $color-grade-27; }
.bg-color-grade-28 { background-color : $color-grade-28; }
.bg-color-grade-29 { background-color : $color-grade-29; }
.bg-color-grade-30 { background-color : $color-grade-30; }
.bg-color-grade-31 { background-color : $color-grade-31; }
.bg-color-grade-32 { background-color : $color-grade-32; }
.bg-color-grade-33 { background-color : $color-grade-33; }
.bg-color-grade-34 { background-color : $color-grade-34; }
.bg-color-grade-35 { background-color : $color-grade-35; }
.bg-color-grade-36 { background-color : $color-grade-36; }
.bg-color-grade-37 { background-color : $color-grade-37; }
.bg-color-grade-38 { background-color : $color-grade-38; }
.bg-color-grade-39 { background-color : $color-grade-39; }
.bg-color-grade-40 { background-color : $color-grade-40; }
.bg-color-grade-41 { background-color : $color-grade-41; }
.bg-color-grade-42 { background-color : $color-grade-42; }
.bg-color-grade-43 { background-color : $color-grade-43; }
.bg-color-grade-44 { background-color : $color-grade-44; }
.bg-color-grade-45 { background-color : $color-grade-45; }
.bg-color-grade-46 { background-color : $color-grade-46; }
.bg-color-grade-47 { background-color : $color-grade-47; }
.bg-color-grade-48 { background-color : $color-grade-48; }
.bg-color-grade-49 { background-color : $color-grade-49; }
.bg-color-grade-50 { background-color : $color-grade-50; }
.bg-color-grade-51 { background-color : $color-grade-51; }
.bg-color-grade-52 { background-color : $color-grade-52; }
.bg-color-grade-53 { background-color : $color-grade-53; }
.bg-color-grade-54 { background-color : $color-grade-54; }