//parallax par defaut d'oblyk
.crag-parallax {
    min-height: 250px;
    height: 50vh !important;
    .img-crag-parallax{
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
}

body{
    background-color: rgb(248,248,248);
}

.entete-info{

    margin-top: calc(50vh / 2 - 140px / 2);
    position: relative;

    .square-entete{
        height: 140px;
        width: 140px;
        margin-right: 7px;
        background-color: rgba(0,0,0,0.7);
        display: inline-block;
        text-align: center;

        img{
            max-height: 90px !important;
            max-width: 90px !important;
            display: inline;
            margin-top: 20px;
            position: relative;
            min-width: 90px;
            min-height: 90px;
            transform: inherit;
            left: inherit;
            bottom: inherit;
        }
    }

    .liste-info{
        display: inline-block;
        color: rgb(255,255,255);
        vertical-align: top;

        h1 {
            margin: 0 0 9px 0;
            padding: 5px 10px;
            word-spacing: -10px;
            font-size: 45px;
            background-color: rgba(0,0,0,0.7);

            span {
                display: none;
            }
        }

        p{
            font-size: 14px;
            margin: 0 0 9px 0;
            background-color: rgba(0,0,0,0.7);
            padding: 5px 10px;
        }
    }
}

.crag-menu{
    i {
        vertical-align: text-bottom;
        display: none;
    }
}
.info-crag{
    h2 {
        margin: 0;
        font-size: 2em;
    }
}

.petites-infos-crag{
    ul {
        margin: 0;
        i {
            vertical-align: bottom;
        }
        li{
            padding: 0 0 10px 0;
        }
    }
}

.boussole {
    margin-top: 4px;
}

.icon-change-bandeau{
    position: absolute;
    bottom: 10px;
    color: rgba(255,255,255,0.8);
    transition: color 0.3s;
    cursor: pointer;
    right: 10px;
    &:hover {
        color: rgba(255,255,255,1);
    }
}

.description-zone{

    margin-top: 20px;

    .description-div{
        border: 3px #2196F3;
        border-left-style: solid;
        margin : 15px 0;
        padding-left: 10px;

        i {
            transition: opacity 0.3s;
            opacity: 0;
            cursor: pointer;

            &:hover {
                color: #2196F3;
            }
        }

        .info-user-description{
            margin: 0;
            font-size: 0.9em;
        }

        &:hover i{
            opacity: 1;
        }
    }

}

.lien-parking{
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.6;
    }
}


.blue-border-zone {
    margin-top: 20px;

    .blue-border-div{
        border: 3px #2196F3;
        border-left-style: solid;
        margin : 15px 0;
        padding-left: 10px;

        .info-user{

            margin: 0;
            font-size: 0.9em;

            i {
                transition: opacity 0.3s;
                opacity: 0;
                cursor: pointer;

                &:hover {
                    color: #2196F3;
                }
            }

        }

        &:hover i{
            opacity: 1;
        }
    }
}

.crag-type-grimpe{
    span{
        font-weight: bold;
        &:after {
            content: ', ';
            color: black;
            font-weight: normal;
        }
        &:last-child{
            &:after{
                display: none;
            }
        }
    }
    .type-voie{color: #3771C8}
    .type-grande-voie{color: #FF5555}
    .type-bloc{color: #ffcc00}
    .type-deep-water{color: #87cdde}
}

.ligne-btn{
    i {
        opacity: 0.5;
        cursor: pointer;

        &:hover{
            opacity: 1;
            color: #2196F3;
        }
    }
}

.crag-map{
    width: 100%;
    height: 80vh;
}

.div-secteur {

    .zone-action-secteur i {
        opacity: 0.25;
        cursor: pointer;
        transition: opacity 0.3s;
    }

    &:hover .zone-action-secteur i {
        opacity: 1;
    }

    .no-bottom-margin{
        margin-bottom: 0;
    }
}

.div-search-secteur{
    padding: 5px 24px;

    .row {
        margin-bottom: 0;
    }

    .input-field input[type="search"]{
        padding-left: 0;
    }

    p {
        margin-top: 23px;

        i {
            cursor: pointer;
        }
    }

}

.img-note-route-sector{
    width: 48px;
}

.type-ligne{
    height: 0.8em;
    margin-right: 0.4em;
}

.cragChart{
    margin-top: 15px;
    position: relative;
    height: 250px;
}

.sectorChart{
    margin-top: 17px;
    position: relative;
    height: 300px;
}

//version smartphone
@media screen and (max-width:600px){

    .crag-menu-zone{
        width: 100%;
        .crag-menu{
            i {display: inline;}
            span {display: none;}
        }
    }

    .entete-info{
        margin-top: 60px;
        .square-entete{display: none;}
        .liste-info{display: block;}
    }

    .stretchCol{
        flex-direction: column;
    }
}