.side-route{
    max-width: calc(100% - 25px) !important;

    h4 {
        font-size: 2em;
        margin-bottom: 10px;
        text-align: center;
    }

    .tabs a {
        font-weight: normal;
    }
}