.side-route{
    max-width: calc(100% - 25px) !important;

    h4 {
        font-size: 2em;
        margin-bottom: 10px;
        text-align: center;
    }

    .tabs a {
        font-weight: normal;
    }

    .type-ligne-route {
        height: 0.5em;
        vertical-align: middle;
    }

    .information-route {
        margin-top: 20px;
        padding-bottom: 4em;

        .table-des-informations {
            p {
                border: 1px rgb(220, 220, 220);
                border-bottom-style: solid;
                margin: 0;
                padding: 9px 0;
            }
        }

        .oblyk-icon {
            font-size: 1.5em;
            vertical-align: middle;
            margin-right: 10px;
        }

        h5 {
            margin-top: 2em;
            text-align: center;
        }
    }

    .route-tab{
        a {
            display: inline;
            font-size: inherit;
            font-weight: inherit;
            height: auto;
            line-height: normal;
            padding: 0;

            &:hover {
                background-color: inherit;
            }
        }
    }

    .route-description-zone {
        a {
            display: inline;
            font-size: inherit;
            font-weight: inherit;
            height: auto;
            line-height: normal;
            padding: 0;

            &:hover {
                background-color: inherit;
            }
        }

        .note-description {
            height: 1em;
            margin-right: 0.5em;
            vertical-align: middle;
        }
    }

    .btn-route-add{

        a {
            height: 40px;
            display: inline-block;

            &:hover{
                background-color: #2196F3;
            }
        }
    }
}
.ligne-bt-route{
    i {
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.3s;
    }
    &:hover {
        i {
            opacity: 1;
        }
    }
}

.climb-color-1 {color : rgb(184,184,184);}
.climb-color-2 {color : rgb(255,204,0);}
.climb-color-3 {color : rgb(55,113,200);}
.climb-color-4 {color : rgb(255,85,85);}
.climb-color-5 {color : rgb(233,43,43);}
.climb-color-6 {color : rgb(212,0,0);}
.climb-color-7 {color : rgb(135,205,222);}
.climb-color-8 {color : rgb(55,200,113);}
