.oblyk-navbar{

    .button-collapse{
        span {
            position: absolute;
            top: 1px;
            left: 33px;
        }
    }
    .brand-logo{
        font-family: 'Loved by the King', cursive;
        font-size: 2em;
        transition: opacity 0.3s;

        .logo-de-oblyk{
            margin-left: 10px;
            vertical-align: middle;
        }

        &:hover{
            opacity: 0.8;
        }
    }

    .dropdown-content{
        white-space: nowrap;
        a {
            color: rgb(80,80,80) !important;
        }
    }

    .dropD-180{width: 180px;}
    .dropD-200{width: 200px;}
    .dropD-210{width: 210px;}
    .dropD-220{width: 220px;}
    .dropD-auto{width: auto;}

    //break point smartphone
    @media (max-width: 600px) {
        .brand-logo {
            display: none !important;
        }
    }

    .side-nav{
        a {
            color: black;
        }
    }

    .collapsible{
        color: black;
        margin-bottom: 70px !important;

        .material-icons{
            float: none;
            display: inline;
            vertical-align: bottom;
        }
    }

    .titre-nav-mobile{
        margin: 0 5px;
        border: 1px rgb(220, 220, 220);
        border-bottom-style: solid;
        a {
            font-size: 2em;
            &:hover{
                background-color: rgb(255,255,255);
            }
        }
    }

    .collapsible-body{
        padding: 0 0 2rem 0;

        .material-icons{
            margin: 0 14px 0 0;
        }

        a{
            font-weight: 400 !important;
        }
    }
}
