// Variables
@import "variables";

//police main pour le grand titre
@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King');

//style de la barre de navigation
@import "nav";

.corps-de-page{
    min-height: 100vh;
    margin-top: -64px;
}

.loved-king-font{font-family: 'Loved by the King', cursive;}

//alignement des text
.text-right{text-align: right;}
.text-center{text-align: center;}
.text-justify{text-align: justify;}
.text-left{text-align: left;}
.text-bold{font-weight: bold;}

//parallax par defaut d'oblyk
.parallax-default {
    height:30vh !important;
    .img-parallax-default{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
}