// Variables
@import "variables";

//police main pour le grand titre
@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King');

//style de la barre de navigation
@import "nav";

.corps-de-page{
    min-height: 100vh;
    margin-top: -64px;
}

.loved-king-font{font-family: 'Loved by the King', cursive;}

// Text helpers
.text-right{text-align: right;}
.text-center{text-align: center;}
.text-justify{text-align: justify;}
.text-underline{text-decoration: underline;}
.text-left{text-align: left;}
.text-bold{font-weight: 500;}
.text-normal{font-weight: normal;}
.text-italic{font-style: italic;}
.text-through{text-decoration: line-through;}
.text-cursor{cursor: pointer;}
.text-hyphens{hyphens: auto;}
.no-margin{margin: 0;}
.no-padding{padding: 0;}
.no-scroll-x{overflow-x: hidden !important;}
.no-scroll-y{overflow-y: hidden !important;}
.no-scroll{overflow: hidden !important;}
.no-warp {white-space: nowrap;}
.text-hover{
    transition: opacity 0.3s;
    cursor: pointer;
    &:hover{
        opacity: 0.65;
    }
}
.i-cursor {
    i {
        cursor: pointer;
    }
}

.blue-hover {
    transition: color 0.3s;
    &:hover {color: #2196F3;}
}

.img-footer {
    height: 1.1em;
    vertical-align: sub;
    margin-right: 0.2em;
}

.inherit-color {
    color: inherit;
}

.cookie-in-cookiebanner {
    vertical-align: bottom;
    height: 20px;
    margin-right: 8px;
    margin-left: 3px;
}

.couverture-zone-liste-topo {
    img {
        max-height: 70px;
    }
}

//parallax par defaut d'oblyk
.parallax-default {
    height:30vh !important;
    .img-parallax-default{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
}

.count-tab-ettiquette {
    font-size: 0.75em;
    font-weight: bold;
    float: right;
    margin-top: -54px;
    color: rgb(90,90,90);
    padding-right: 7px;

}

.ligne-btn{
    i {
        opacity: 0.5;
        cursor: pointer;

        &:hover{
            opacity: 1;
            color: #2196F3;
        }
    }
}

.blue-border-zone {
    margin-top: 20px;

    .blue-border-div{
        border: 3px #2196F3;
        border-left-style: solid;
        margin : 15px 0;
        padding-left: 10px;

        .info-user{

            margin: 0;
            font-size: 0.9em;

            i {
                transition: opacity 0.3s;
                opacity: 0;
                cursor: pointer;

                &:hover {
                    color: #2196F3;
                }
            }

        }

        &:hover i{
            opacity: 1;
        }
    }
}

.global-badge-in-navbar{
    color: white;
    border-radius: 50%;
    margin-left: 0.5em;
    padding-top: 3px;
    font-size: 0.9em;
    height: 1.3em;
    width: 1.3em;
    text-align: center;
    display: none;
    vertical-align: text-top;
    line-height: 1em;
}

.badge-dropdown-navbar {
    margin-left: 0.5em;
}

.oblyk-ul{
    li{
        list-style: disc !important;
    }
    margin-left: 25px;
}

.popup-title{
    padding-bottom: 0.5em;
    border: 1px rgb(200, 200, 200);
    border-bottom-style: solid;
}

.error-popup-text {
    background-color: rgb(255,100,100);
    text-align: center;
    margin: 10px 0;
    color: #ffffff;
    border-radius: 2px;
    padding: 5px;
    display: none;
}

.popup-version-table {
    margin-bottom: 1.5em;
    .date-cell-popup-version {
        padding-right: 16px;
        width: 85px;
    }
    .blue-border-version-popup {
        border: 3px #2196F3;
        border-left-style: solid;
        padding-left: 0;
        width: 14px;
        div {
            height: 12px;
            width: 12px;
            border: 3px solid #2196F3;
            border-radius: 50%;
            position: absolute;
            background-color: rgb(255,255,255);
            margin-left: -7px;
            margin-top: -7px;
        }
    }
}

.div-submit-loader{
    display: none;

    .submit-loader{
        display: inline-block;
        width: 153px;
        text-align: center;
    }
}

.tiny-btn {
    font-size: 1.4em;
}

footer {
    a {
        cursor: pointer;
        transition: opacity 0.1s;
        &:hover {
            opacity: 0.7;
        }
    }
}

.orientations-input{
    path {
        cursor: pointer;
        transition: opacity 0.1s;

        &:hover {
            opacity: 0.8;
        }
    }
}

.season-input {
    svg {
        vertical-align: bottom;
        margin-right: 5px;
    }

    p {
        cursor: pointer;
        transition: opacity 0.1s;

        &:hover{
            opacity: 0.8;
        }
    }
}

.close-btn-popup{
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    transition: color 0.1s;
    color : rgb(100,100,100);

    &:hover{
        color: red;
    }
}

.follow-paragraphe {
    cursor: pointer;
    i {
        vertical-align : bottom;
        margin-right: 0.2em;
    }

}

.follow-paragraphe[data-followed="true"] {
    #followed-element {display: inline;}
    #not-followed-element {display: none;}
}

.follow-paragraphe[data-followed="false"] {
    #followed-element {display: none;}
    #not-followed-element {display: inline;}
}

.input-map{
    width: 100%;
    height: 50vh;
    margin-top: 5px;

    label {
        color: rgb(0,0,0);
        font-size: 1em;
    }

    [type="radio"]:checked, [type="radio"]:not(:checked) {
        position: relative;
        left: inherit;
        opacity: 1;
    }
}

//pour que des colonnes placées côte à côte ai la même hauteur
.stretchCol{
    display: flex;
    align-content: stretch;
    flex-direction: row;

    .card-panel {
        height: calc(100% - 24px);
    }
}

//loader ajax quand on change de route
.ajax-loader{
    padding: 50px 0;
    text-align: center;
}

.flag-icon {
    height: 1.1em;
    margin-right: 0.5em;
    vertical-align: sub;
}

.success-alert-password {
    padding: 1px;
    border-radius: 3px;
    margin-bottom: 1em;

    p {
        margin: 5px 0;
    }
}

.ul-tuto-marche-approche{
    padding-left: 13px !important;
    li{
        list-style: disc !important;
    }
}

.submit-form {
    label.required {
        &:before {
            content: '*';
            padding-right: 0.5em;
            color: rgb(250,50,50);
        }
    }
}

//version smartphone
@media screen and (max-width:600px){
    .stretchCol{
        flex-direction: column;
    }
}

// Common color
.type-gym-route, .type-gym-0 { color: #672178 }
.type-gym-boulder, .type-gym-2 { color: #ddafe9 }
.type-gym-pan, .type-gym-1 { color: #a268b0 }

.crop-picture-class {
    .cr-boundary {
        height: 80vh !important;
    }
}

.custom-collapse {
    cursor: pointer;
    i {
        transition: transform 0.2s;
    }
    &[data-expanded=false] {
        i {transform: rotate(0deg);}
    }
    &[data-expanded=true] {
        i {transform: rotate(90deg);}
    }
}