.img-qui-somme-nous{
    width: 250px;
    max-width: 100%;
    margin-bottom: 10px;
}
.right-img{
    margin-left: 20px;
}

.left-img{
    margin-right: 20px;
}

.titre-2-terms{
    font-size: 1.8em;
}

.h3-mentions{
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}

.logo-outil-about{
    max-height: 2.5em;
    max-width: 2.5em;
    margin: 0.2em 1em 0.2em 0;
    vertical-align: middle;
}

.mini-logo-outil-about{
    height: 1.2em;
    vertical-align: sub;
}


.infographie-contact {
    width: 100%;
}

.img-eco-serveur{
    height: 4em;
}

.sommaire-mention{

    a{
        color: inherit;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.5;
        }
    }

    li{
        list-style: disc !important;
        margin-left: 15px;
    }

    .li_sous_menu_mentions{
        list-style: none !important;

        .sous_sommaire_mentions{

            li{
                list-style: circle !important;
            }

            margin-left: 10px;
            margin-bottom: 10px;
        }
    }
}

.lien-vers-sommaire{
    vertical-align: top;
    font-weight: normal;
    font-size: 10pt;
}



//AIDES

.section-aide {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.titre-2-helps{
    font-size: 1.9em;
    margin-top: 2em;
}

.titre-6-helps {
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover{
        opacity: 0.8;
    }
}