table {
  font-size: 0.95em;
}

table td {
  padding: 2px 3px 2px 0;
}

table tr td:first-child {
  text-align: right;
  color: #646464;
  font-weight: 500;
}

table tr td:first-child .material-icons {
  display: none;
}

table .map-link {
  color: #2196F3;
  margin-right: 0.2px;
}

table .material-icons {
  vertical-align: sub;
  font-size: 1em;
}

table .climb-type span {
  font-weight: 600;
}

table .climb-type span:after {
  content: ', ';
  color: black;
  font-weight: normal;
}

table .climb-type span:last-child:after {
  display: none;
}

table .climb-type .voie {
  color: #3771C8;
}

table .climb-type .grande-voie {
  color: #FF5555;
}

table .climb-type .bloc {
  color: #ffcc00;
}

table .climb-type .deep-water {
  color: #87cdde;
}

table .climb-type .via-ferrata {
  color: #37c871;
}

@media screen and (max-width: 600px) {
  table tr td:first-child span {
    display: none;
  }

  table tr td:first-child .material-icons {
    display: inline;
    font-size: 1.2em;
    margin-right: 0.5em;
    vertical-align: middle;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3Zhci93d3cvaHRtbC9vYmx5ay5vcmcvcmVzb3VyY2VzL2Fzc2V0cy9zYXNzL2lmcmFtZS9jcmFnLWlmcmFtZS5zY3NzIiwic291cmNlcyI6WyIvdmFyL3d3dy9odG1sL29ibHlrLm9yZy9yZXNvdXJjZXMvYXNzZXRzL3Nhc3MvaWZyYW1lL2NyYWctaWZyYW1lLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiXG50YWJsZSB7XG5cbiAgICBmb250LXNpemU6IDAuOTVlbTtcbiAgICB0ZCB7IHBhZGRpbmc6IDJweCAzcHggMnB4IDA7IH1cbiAgICB0ciB7XG4gICAgICAgIHRkOmZpcnN0LWNoaWxkIHtcbiAgICAgICAgICAgIHRleHQtYWxpZ246IHJpZ2h0O1xuICAgICAgICAgICAgY29sb3I6IHJnYigxMDAsMTAwLDEwMCk7XG4gICAgICAgICAgICBmb250LXdlaWdodDogNTAwO1xuXG4gICAgICAgICAgICAubWF0ZXJpYWwtaWNvbnMge1xuICAgICAgICAgICAgICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgICAgICAgICB9XG4gICAgICAgIH1cbiAgICB9XG5cbiAgICAubWFwLWxpbmsge1xuICAgICAgICBjb2xvcjogIzIxOTZGMztcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiAwLjJweDtcbiAgICB9XG5cbiAgICAubWF0ZXJpYWwtaWNvbnMge1xuICAgICAgICB2ZXJ0aWNhbC1hbGlnbjogc3ViO1xuICAgICAgICBmb250LXNpemU6IDFlbTtcbiAgICB9XG5cbiAgICAuY2xpbWItdHlwZXtcbiAgICAgICAgc3BhbntcbiAgICAgICAgICAgIGZvbnQtd2VpZ2h0OiA2MDA7XG4gICAgICAgICAgICAmOmFmdGVyIHtcbiAgICAgICAgICAgICAgICBjb250ZW50OiAnLCAnO1xuICAgICAgICAgICAgICAgIGNvbG9yOiBibGFjaztcbiAgICAgICAgICAgICAgICBmb250LXdlaWdodDogbm9ybWFsO1xuICAgICAgICAgICAgfVxuICAgICAgICAgICAgJjpsYXN0LWNoaWxke1xuICAgICAgICAgICAgICAgICY6YWZ0ZXJ7XG4gICAgICAgICAgICAgICAgICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgICAgICAgICAgICAgfVxuICAgICAgICAgICAgfVxuICAgICAgICB9XG4gICAgICAgIC52b2lle2NvbG9yOiAjMzc3MUM4fVxuICAgICAgICAuZ3JhbmRlLXZvaWV7Y29sb3I6ICNGRjU1NTV9XG4gICAgICAgIC5ibG9je2NvbG9yOiAjZmZjYzAwfVxuICAgICAgICAuZGVlcC13YXRlcntjb2xvcjogIzg3Y2RkZX1cbiAgICAgICAgLnZpYS1mZXJyYXRhe2NvbG9yOiAjMzdjODcxfVxuICAgIH1cbn1cblxuXG4vL3ZlcnNpb24gc21hcnRwaG9uZVxuQG1lZGlhIHNjcmVlbiBhbmQgKG1heC13aWR0aDo2MDBweCl7XG5cbiAgICB0YWJsZSB7XG4gICAgICAgIHRyIHtcbiAgICAgICAgICAgIHRkOmZpcnN0LWNoaWxkIHtcbiAgICAgICAgICAgICAgICBzcGFuIHtcbiAgICAgICAgICAgICAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICAgICAgICAgICAgICB9XG4gICAgICAgICAgICAgICAgLm1hdGVyaWFsLWljb25zIHtcbiAgICAgICAgICAgICAgICAgICAgZGlzcGxheTogaW5saW5lO1xuICAgICAgICAgICAgICAgICAgICBmb250LXNpemU6IDEuMmVtO1xuICAgICAgICAgICAgICAgICAgICBtYXJnaW4tcmlnaHQ6IDAuNWVtO1xuICAgICAgICAgICAgICAgICAgICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlO1xuICAgICAgICAgICAgICAgIH1cbiAgICAgICAgICAgIH1cbiAgICAgICAgfVxuICAgIH1cbn0iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0EsQUFBQSxLQUFLLENBQUM7RUFFRixTQUFTLEVBQUUsTUFBTTtDQTRDcEI7O0FBOUNELEFBR0ksS0FIQyxDQUdELEVBQUUsQ0FBQztFQUFFLE9BQU8sRUFBRSxhQUFhO0NBQUs7O0FBSHBDLEFBS1EsS0FMSCxDQUlELEVBQUUsQ0FDRSxFQUFFLEFBQUEsWUFBWSxDQUFDO0VBQ1gsVUFBVSxFQUFFLEtBQUs7RUFDakIsS0FBSyxFQUFFLE9BQWdCO0VBQ3ZCLFdBQVcsRUFBRSxHQUFHO0NBS25COztBQWJULEFBVVksS0FWUCxDQUlELEVBQUUsQ0FDRSxFQUFFLEFBQUEsWUFBWSxDQUtWLGVBQWUsQ0FBQztFQUNaLE9BQU8sRUFBRSxJQUFJO0NBQ2hCOztBQVpiLEFBZ0JJLEtBaEJDLENBZ0JELFNBQVMsQ0FBQztFQUNOLEtBQUssRUFBRSxPQUFPO0VBQ2QsWUFBWSxFQUFFLEtBQUs7Q0FDdEI7O0FBbkJMLEFBcUJJLEtBckJDLENBcUJELGVBQWUsQ0FBQztFQUNaLGNBQWMsRUFBRSxHQUFHO0VBQ25CLFNBQVMsRUFBRSxHQUFHO0NBQ2pCOztBQXhCTCxBQTJCUSxLQTNCSCxDQTBCRCxXQUFXLENBQ1AsSUFBSSxDQUFBO0VBQ0EsV0FBVyxFQUFFLEdBQUc7Q0FXbkI7O0FBdkNULEFBMkJRLEtBM0JILENBMEJELFdBQVcsQ0FDUCxJQUFJLEFBRUEsTUFBTyxDQUFDO0VBQ0osT0FBTyxFQUFFLElBQUk7RUFDYixLQUFLLEVBQUUsS0FBSztFQUNaLFdBQVcsRUFBRSxNQUFNO0NBQ3RCOztBQWpDYixBQTJCUSxLQTNCSCxDQTBCRCxXQUFXLENBQ1AsSUFBSSxBQU9BLFdBQVksQUFDUixNQUFPLENBQUE7RUFDSCxPQUFPLEVBQUUsSUFBSTtDQUNoQjs7QUFyQ2pCLEFBd0NRLEtBeENILENBMEJELFdBQVcsQ0FjUCxLQUFLLENBQUE7RUFBQyxLQUFLLEVBQUUsT0FBTztDQUFHOztBQXhDL0IsQUF5Q1EsS0F6Q0gsQ0EwQkQsV0FBVyxDQWVQLFlBQVksQ0FBQTtFQUFDLEtBQUssRUFBRSxPQUFPO0NBQUc7O0FBekN0QyxBQTBDUSxLQTFDSCxDQTBCRCxXQUFXLENBZ0JQLEtBQUssQ0FBQTtFQUFDLEtBQUssRUFBRSxPQUFPO0NBQUc7O0FBMUMvQixBQTJDUSxLQTNDSCxDQTBCRCxXQUFXLENBaUJQLFdBQVcsQ0FBQTtFQUFDLEtBQUssRUFBRSxPQUFPO0NBQUc7O0FBM0NyQyxBQTRDUSxLQTVDSCxDQTBCRCxXQUFXLENBa0JQLFlBQVksQ0FBQTtFQUFDLEtBQUssRUFBRSxPQUFPO0NBQUc7O0FBTXRDLE1BQU0sQ0FBQyxNQUFNLE1BQU0sU0FBUyxFQUFFLEtBQUs7RUFFL0IsQUFHWSxLQUhQLENBQ0QsRUFBRSxDQUNFLEVBQUUsQUFBQSxZQUFZLENBQ1YsSUFBSSxDQUFDO0lBQ0QsT0FBTyxFQUFFLElBQUk7R0FDaEI7RUFMYixBQU1ZLEtBTlAsQ0FDRCxFQUFFLENBQ0UsRUFBRSxBQUFBLFlBQVksQ0FJVixlQUFlLENBQUM7SUFDWixPQUFPLEVBQUUsTUFBTTtJQUNmLFNBQVMsRUFBRSxLQUFLO0lBQ2hCLFlBQVksRUFBRSxLQUFLO0lBQ25CLGNBQWMsRUFBRSxNQUFNO0dBQ3pCIn0= */