//parallax par defaut d'oblyk
.topo-parallax {
    min-height: 250px;
    height: 50vh !important;
    .img-topo-parallax{
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
}

body{
    background-color: rgb(248,248,248);
}

.entete-info{

    margin-top: calc(50vh / 2 - 140px / 2);
    position: relative;

    .square-entete{
        height: 140px;
        width: 140px;
        margin-right: 7px;
        background-color: rgba(0,0,0,0.7);
        display: inline-block;
        text-align: center;

        img{
            max-height: 90px !important;
            max-width: 90px !important;
            display: inline;
            margin-top: 20px;
            position: relative;
            min-width: 90px;
            min-height: 90px;
            transform: inherit;
            left: inherit;
            bottom: inherit;
        }
    }

    .liste-info{
        display: inline-block;
        color: rgb(255,255,255);
        vertical-align: top;

        h1 {
            margin: 0 0 9px 0;
            padding: 5px 10px;
            word-spacing: -10px;
            font-size: 45px;
            background-color: rgba(0,0,0,0.7);

            span {
                display: none;
            }
        }

        p{
            font-size: 14px;
            margin: 0 0 9px 0;
            background-color: rgba(0,0,0,0.7);
            padding: 5px 10px;
        }
    }
}

.titre-1-topo{
    margin-top: 0;
    font-size: 2.1em;
}

.titre-2-topo{
    margin-top: 1.5em;
    font-size: 1.85em;
}

.topo-map{
    width: 100%;
    height: 80vh;
}

.topo-menu{
    i {
        vertical-align: text-bottom;
        display: none;
    }
}

//version smartphone
@media screen and (max-width:600px){

    .topo-menu-zone{
        width: 100%;
        .topo-menu{
            i {display: inline;}
            span {display: none;}
        }
    }

    .entete-info{
        margin-top: 60px;
        .square-entete{display: none;}
        .liste-info{display: block;}
    }

    .stretchCol{
        flex-direction: column;
    }
}