#map {
    width: 100%;
    position: fixed;
    height: 100%;

    .leaflet-top {
        top:62px;
    }

    label {
        color: rgb(0,0,0);
        font-size: 1em;
    }

    [type="radio"]:checked, [type="radio"]:not(:checked) {
        position: relative;
        left: inherit;
        opacity: 1;
    }
}

.btn-toast-add{
    width: 100%;
    margin: auto !important;
}

.btn-add-map{
    left: 23px;
    right: inherit;
}
.leaflet-control-custom-filter {
        margin: auto;
        cursor: pointer;
        padding: 8px;
}
