//style des popups pour la partie map
.leaflet-popup-content{
    margin : 0;

    .crag-leaflet-info {
        margin: 5px;
    }
}

.leaflet-popup-content-wrapper{
    padding: 0 0 1px 0;
}
.photo-couve-site-leaflet{
    width: 100%;
    height: 100px;
    min-width: 300px;
    object-fit: cover;
}


.crag-leaflet-info {

    table {
        td {
            padding: 5px 3px 5px 0 !important;
        }
        tr {
            border: 1px #c3c3c3;
            border-top-style: solid;

            td:first-child {
                text-align: right;
                font-weight: bold;
            }
        }

        .btn-vers-crags {
            text-align: right;
            a{
                margin-top: 5px;
                color: white;
            }
        }
        .material-icons {
            vertical-align: sub;
        }

        .type-grimpe{
            span{
                font-weight: bold;
                &:after {
                    content: ', ';
                    color: black;
                    font-weight: normal;
                }
                &:last-child{
                    &:after{
                        display: none;
                    }
                }
            }
            .voie{color: #3771C8}
            .grande-voie{color: #FF5555}
            .bloc{color: #ffcc00}
            .deep-water{color: #87cdde}
            .via-ferrata{color: #37c871}
        }
    }

    .titre-crag-leaflet{
        font-size: 2.5em;
        margin: 0 0 5px 0;
        text-align: center;
        a {color: inherit;}
    }
}

.parking-leaflet-info{
    margin: 10px !important;
}